
@{
    /**/

    ViewBag.Title = "DisplayMaster";
    Layout = "~/Views/Shared/_layout.cshtml";

}
<script src="~/Areas/Masters/JsModule/DisplayMaster.js"></script>

<style>
    .panel {
        margin-bottom: 2px !important;
        margin-left: 2px !important;
    }



    .panel-heading {
        padding: 1px 5px;
    }

    .panel-body {
        padding: 2px 0;
        margin-top: 1px;
    }

    .form-group {
        margin-bottom: 5px;
    }

    .form-control {
        height: 20px;
        padding: 2px !important
    }

    h4, .h4, h5, .h5, h6, .h6 {
        margin-top: 2px;
        margin-bottom: 2px;
        color: #fff;
        font-size: 15px;
    }

    .selected {
        background-color: #3498db;
        color: #fff;
    }
</style>
<div id="page-content">
    <div class="col-lg-6">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 style="font-size:18px"><b>Create DisplayMaster</b> </h4>
                </div>
                <div class="panel-body">
                    <div class="col-sm-9 form-group">
                        <label>Display Name</label>
                        <label hidden id="Displayid"></label>
                        <input type="text" id="txtDisplayName" class="form-control" style="border:1px solid #86b3de;height:30px;" />
                    </div>
                    <div class="col-md-3 form-group">
                        <button type="submit" id="btnAddDisplayMaster" style="margin: 21px 0 0 0; width:60px;height:30px;" class="btn btn-xs btn-success" value="Add" onclick="InsertDisplayMaster()">ADD</button>
                        <button type="submit" id="btnUpdateDisplay" style="margin: 21px 0 0 0; width:60px;height:30px; display:none" class="btn btn-xs btn-warning" value="Update" onclick="UpdateDisplayMaster()">Update</button>
                    </div>

                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="table-responsive" style="height:470px;overflow-y:auto">
                        <table class="table table-bordered" id="tblDisplayMaster">
                            <thead>
                                <tr>
                                    <th style="width:17%">Display Id</th>
                                    @*<th style="width:70%">Display Name</th>*@
                                    <th> <input type="text" id="txtDisplayNameSearch" placeholder="Display Name" style="height:20px;margin-right:5px;margin-bottom:5px; padding:2px;margin-top:3px;width:70%" class="form-control" /></th>
                                    <th style="width:13%;align-items:center">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-6">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4></h4>
                    <table>
                        <tr>

                            <td style="width:50%; font-size:16px"><b>Display Name : </b><span data-dname></span></td>
                            <td style="width:60%;font-size:16px" hidden><b>Display id</b><span data-ddid></span></td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <div class="col-sm-9 form-group">
                        <label>Doctor List</label>
                        <select id="ddlDoctorList" class="form-control" style="border:1px solid #86b3de;height:30px"></select>

                    </div>

                    <div class="col-sm-3 form-group">
                        <button type="submit" id="BtnAdd" style="margin: 21px 0 0 0; width:60px;height:30px;" class="btn btn-xs btn-success" onclick="InsertDoctorDisplay()" value="Add">ADD</button>
                    </div>

                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="table-responsive" style="height:470px;overflow-y:auto">
                        <table class="table table-bordered" id="tblDoctorDetails">
                            <thead>
                                <tr>
                                    <th style="width:13%">Doctor ID </th>
                                    <th style="width:10%"><button onclick="SetSeqNo()" class="btn btn-danger btn-xs">Set Seq</button></th>
                                    <th style="width:57%">Doctor Name</th>
                                    <th style="width:20%;align-items:center">Status</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
