
<style>
    .card_box {
        height: 500px;
        background: #fff;
        border-radius: 5px;
        padding: 15px;
        border: 1.1px solid #ebebeb;
    }

    .block {
        pointer-events: none;
        opacity: 0.5;
    }

    .formLabel {
        font-weight: bold;
        white-space: pre;
        margin-bottom: 0;
        color: #3c3c3c;
        font-size: 14px;
    }

    .validateSection {
        border: 1px solid #e7e7e7;
        padding: 22px 20px;
        border-radius: 5px;
    }

        .validateSection label {
            color: #4e4e4e;
            margin: 0 5px;
        }

    .btn-custom {
        background: #ff6a00;
        color: #fff;
        margin: 15px;
        border: none;
    }
</style>
<script src="~/Areas/ApplicationResource/JsModule/DASH_EditProfile.js?v1.3"></script>
<label>RE-KYC verification</label>
<div class="card_box">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <img src="https://abha.abdm.gov.in/abha/v3/5616d5247bf778cd898fcfec6321a75e.svg" />
                <p style="font-size:18px;font-weight:bold;margin-top:10px">
                    If you want to fetch any recent changes made in your
                    KYC document please continue
                </p>
                <p class="text-center">
                    <button class="btn btn-custom">Continue</button>
                </p>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>