
@{
    ViewBag.Title = "DeleteProcess";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/Corporate/JsModule/RevertPayment.js"></script>
<style>
    .panel {
        margin-bottom: 2px !important;
        margin-left: 2px !important;
    }

    .panel-heading {
        padding: 1px 5px;
    }

    .panel-body {
        padding: 2px 1px;
        margin-top: 1px;
    }

    .selected {
        background-color: #3498db;
        color: #fff;
    }

    .bn {
        margin: 0px;
        font-size: 10pt;
        padding: 0px 12px;
        border-radius: 0;
        height: 28px;
        /*margin-top: 11%;*/
    }

    .btn-add {
        border: none;
        padding: 6px;
        margin-left: 1px;
    }

    .btn {
        border: none;
        padding: 1px 9px;
        font-size: 13px;
        margin-bottom: 2px;
    }

    #billid {
        /* border: 1px solid black; */
        width: 100%;
        color: white;
        /* background-color: #86b3de; */
        margin-top: 5px;
        margin-bottom: 1px;
        background: #2478a9;
        padding: 2px;
    }

    #tblReport thead th {
        padding: 3px;
    }

    #tblReport tbody td {
        padding: 3px;
    }

    #tblReportInfo thead th {
        padding: 3px;
    }

    #tblReportInfo tbody td {
        padding: 3px;
    }

    #tblReportInfo2 thead th {
        padding: 3px;
    }

    #tblReportInfo2 tbody td {
        padding: 3px;
    }

    #btnDeleteProcess {
        background-color: #ddd;
        border: none;
        color: black;
        padding: 6px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
    }

        #btnDeleteProcess:hover {
            background-color: #FF7074;
        }
</style>
<div id="page-content">
    <div class="col-lg-12">
        <div class="row">
            <div class="ml15">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h5>Revert Payment</h5>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div style="display:flex">
                                    <input type="text" id="txtReceiptNo" class="form-control" style="border: 1px solid #86b3de;" placeholder="Search ReceiptNo ...." />
                                    <button style="height:28px;width:30%" class="btn bg-blue bn" onclick="GetDeleteProessList()"><i class="fa fa-search">&nbsp;</i>Get</button>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button type="button" id="btnDeleteProcess" style="float:right" onclick="RewardProcess()"><i class="fa fa-trash-o"></i>&nbsp;Revert</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive" style="height:100px;overflow-y:auto; overflow-x:auto;border:1px solid #3498db">
                                    <table class="table table-bordered" id="tblReport">
                                        <thead>
                                            <tr>


                                                <th>MasterReceiptNo</th>
                                                <th>PayMode</th>
                                                <th style='text-align:center'>Amount</th>
                                                <th>chequeDate</th>
                                                <th>RefNo</th>
                                                <th>Remark</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label id="billid">Billing Receivable</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="table-responsive" style="height:400px;overflow-y:auto; overflow-x:auto;border:1px solid #3498db">
                                    <table class="table table-bordered" id="tblReportInfo">
                                        <thead>
                                            <tr>
                                                <th style="">IPDNo</th>
                                                <th style="">TnxType</th>
                                                <th style="text-align:center">Amount</th>
                                                <th style="">Narration</th>
                                                <th style="">ConsiderFor</th>


                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="table-responsive" style="height:400px;overflow-y:auto; overflow-x:auto;border:1px solid #3498db">
                                    <table class="table table-bordered" id="tblReportInfo2">
                                        <thead>
                                            <tr>
                                                <th style="">Voucher No</th>
                                                <th style="">Date</th>
                                                <th style="">LedgerName</th>
                                                <th style="text-align:center">Amount</th>
                                                <th style="">Narration</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




