
@{
    ViewBag.Title = "TPAMaster";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Areas/Corporate/JsModule/TPAMaster.js"></script>
<style>
    #btnSave {
        width: 20%;
        height: 27px;
    }

    .text-white {
        color: #fff !important;
    }

    hr {
        margin-top: 35px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .fileinput.input-group {
        display: flex;
    }

    .text-17 {
        font-size: 17px;
    }

    .scroll {
        width: 100%;
        background: #fff;
        overflow: overlay;
        max-height: 480px;
        display: block;
    }

    .panel-body {
        /*box-shadow: 1px 1px 10px #d2d2d2;*/
        border-radius: 10px;
        padding: 5px 3px 0px 3px;
        position: relative;
    }

    .ml15 {
        margin-left: 15px;
    }

    .selected {
        background: DodgerBlue !important;
        color: #fff;
    }

    .flex {
        display: flex;
        align-items: baseline;
    }

        .flex label {
            white-space: pre;
        }
</style>
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="ml15">
                    <div class="">
                        <div class="panel">
                            <div class="panel-heading" style="background:#0076d0;padding: 4px;">
                                <h4 class="text-white">TPA Master</h4>
                            </div>
                            <div class="panel-body">
                                <div class="col-xs-4">
                                    <label>TPA Name</label>
                                    <input type="text" id="txtTPAName" class="form-control border-imp" placeholder="TPA Name" />
                                </div>
                                <div class="col-xs-4">
                                    <label>Contact No</label>
                                    <input type="text" id="txtContactNo" class="form-control border-imp" placeholder="Contact No" />
                                </div>
                                <div class="col-xs-4">
                                    <label>Email Id</label>
                                    <input type="text" id="txtEmailId" class="form-control" placeholder="Email Id" />
                                </div>
                                <div class="col-xs-4">
                                    <label>Fax No</label>
                                    <input type="text" id="txtFaxNo" class="form-control" placeholder="Fax No" />
                                </div>
                                <div class="col-xs-8 form-group">
                                    <label>Address </label>
                                    <div class="flex">
                                        <input type="text" id="txtAddress" class="form-control" placeholder="Address" />
                                        <button id="btnSave" onclick="InsertTPA()" class="btn btn-warning">Submit</button>
                                    </div>
                                </div>
                                <hr />
                                <div class="col-xs-12 form-group">
                                    <div class="scroll">
                                        <table id="tblTPAInfo" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>TPA Id</th>
                                                    <th>TPA Name</th>
                                                    <th>Contact No</th>
                                                    <th>Email Id</th>
                                                    <th>Fax No</th>
                                                    <th>Address</th>
                                                    <th>CMD</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

