
@{
    ViewBag.Title = "Collection";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/Accounts/JsModule/Payments/Collection.js"></script>
<style>
    #tblHOTOInfo, #tblTransfer {
        margin: 0;
    }

        #tblHOTOInfo thead th, #tblReports th {
            color: #fff;
            background: #2478a9;
            font-size: 12px;
            font-weight: bold;
            padding-right: 10px;
            text-align: center;
        }

        #tblHOTOInfo tbody td {
            font-size: 14px;
            font-weight: bold;
            padding-right: 10px;
            text-align: center;
        }

    .row.colnospace [class*='col-'] {
        padding-right: 2px;
        padding-left: 2px;
    }

    .nav-tabs a {
        background: #e8e8e8;
    }

    .tab-pane {
        padding: 2px;
    }
</style>
<div id="page-content">
    <div class="container">
        <div class="panel-body">
            <div class="row colnospace" style="background-color:#bddeff;padding: 7px;margin-bottom:5px">
                <div class="col-md-2">
                    <button id="btnCurrentPatient" onclick="InitiateClose('Initiate')" class="btn btn-success"><i class="fa fa-openid">&nbsp;</i>Open</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button id="btnExcel" onclick="InitiateClose('CloseWorking')" class="btn btn-danger"><i class="fa fa-close">&nbsp;</i>Close</button>
                </div>
                <div class="col-md-3">
                    <label style="display:flex;margin: 0;align-items:baseline;white-space:pre;pointer-events:none">Shift Id : <input type="text" id="txtShiftId" class="form-control" /></label>
                </div>
                <div class="col-md-4">
                    <label style="display:flex;margin: 0;align-items:baseline;white-space:pre;pointer-events:none">Employee Name : <input type="text" id="txtName" class="form-control" /></label>
</div>
            </div>
            <div class="row colnospace">
                <div class="scroll" style="margin-bottom: 5px;height:170px;overflow:auto;border: 1px solid #2478a9;">
                    <table id="tblHOTOInfo" class="table table-bordered">
                        <thead>
                            <tr>
                                <th style='width:30%;text-align:left'>Ledger Name</th>
                                <th style='width:8%;text-align:center'>Work</th>
                                <th style='width:8%;text-align:center'>Received (Other)</th>
                                <th style='width:8%;text-align:center'>Pending Receive</th>
                                <th style='width:8%;text-align:center'>Total Received</th>
                                <th style='width:8%;text-align:center'>Transfer</th>
                                <th style='width:8%;text-align:center'>Transfer Not Received</th>
                                <th style='width:8%;text-align:center'>Transfer Received</th>
                                <th style='width:8%;text-align:center'>Balance</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="col-md-12" style="margin-top:10px;border:1px solid #2478a9;padding: 2px;background: #f6f6f6;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#Transfer">Transfer</a></li>
                        <li><a data-toggle="tab" href="#Receiving" onclick="PendingReceipt()">Receiving</a></li>
                        <li><a data-toggle="tab" href="#Reports">Reports</a></li>
                    </ul>

                    <div class="tab-content" style="background: #fff;">
                        <div id="Transfer" class="tab-pane fade in active">
                            <div class="scroll" style="margin-bottom: 5px;height:55vh;overflow:hidden;width:70%">
                                <table id="tblTransfer" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width:1%"><input type="checkbox" onchange="" checked /></th>
                                            <th>Ledger Name</th>
                                            <th class="text-center">Count</th>
                                            <th class="text-right">Received</th>
                                            <th style="width:20%" class="text-right">Transfer</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <hr />
                                <div class="row" style="padding:10px;margin-top:15px">
                                    <div class="col-sm-3">
                                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                            <input type="text" id="txtEmpName" class="form-control input_pass" value="" placeholder="Employee Name">
                                            <span id="btnGetEmployee" class="input-group-addon btn btn-primary">
                                                <i class="fa fa-plus"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="fileinput fileinput-new input-group" data-provides="fileinput" style="display:flex">
                                            <select id="ddlEmployee" class="form-control">
                                                <option>Select Employee</option>
                                            </select>
                                            <button id="btnSave" onclick="Transfer()" class="btn btn-success" style="width:23%"><i class="fa fa-sign-in">&nbsp;</i>Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Receiving" class="tab-pane fade">
                            <div class="scroll" style="margin-bottom: 5px;height:55vh;overflow:auto;width:40%">
                                <table id="tblReceived" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Pay Mode</th>
                                            <th>Tnx Type</th>
                                            <th class="text-right">Received</th>
                                            <th style="width:1%">cmd</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div id="Reports" class="tab-pane fade">
                            <div class="row colnospace" style="background-color:#bddeff;padding: 7px;margin-bottom:5px">
                                <div class="col-md-2">
                                    <input type="date" id="txtFrom" class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    <input type="date" id="txtTo" class="form-control" />
                                </div>
                                <button id="btnExcel" onclick="ReportsInfo()" class="btn btn-success"><i class="fa fa-sign-in">&nbsp;</i>Get</button>
                            </div>
                            <div class="scroll" style="margin-bottom: 5px;height:55vh;overflow:auto;width:100%">
                                <table id="tblReports" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="7">Working</th>
                                            <th colspan="2">Received/Transfer</th>
                                            <th>-</th>
                                            <th colspan="2">In-Transit</th>
                                        </tr>
                                        <tr>
                                            <th>Shift ID</th>
                                            <th>Date</th>
                                            <th>Cash</th>
                                            <th>Swipe</th>
                                            <th>Cheque</th>
                                            <th>RTGS</th>
                                            <th>Total</th>
                                            <th>Transfer</th>
                                            <th>Received</th>
                                            <th>Balance</th>
                                            <th>Transfer</th>
                                            <th>Received</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

