
@{
    /**/

    /**/

    ViewBag.Title = "PhotoDeshboard";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
@*<script src="~/JsModule/mdb.min.js?his-version-1.0"></script>*@
<script src="~/Areas/Accounts/JsModule/Payments/HotoDashboard.js"></script>
<style>
    .panel {
        margin-bottom: 2px !important;
        margin-left: 2px !important;
    }

    .btn-flat {
        padding: 5px;
        border: navajowhite;
        width: 28%;
        margin-left: 1%;
    }


    .panel-heading {
        padding: 1px 5px;
    }

    .panel-body {
        padding: 2px 1px;
        margin-top: 1px;
    }

    .row-green {
        background: #378a45;
        color: #fff;
    }

    .slot-selected {
        background: green !important;
    }

    #btnPatient {
        margin-left: -5px;
    }

    .timeChoose {
        padding: 3px;
        color: #fff;
        background: #842407;
        border: 1px solid #ddd;
    }

    .TimeFrame {
        max-height: 480px;
        overflow: auto;
        overflow-y: auto;
    }

    .TimeSlot-Status {
        padding: 2px;
        color: white;
        background: #064c67;
        border-radius: 5px;
    }

    .TimeSlot-Title {
        align-items: center;
        display: flex;
        border: 1px solid #ddd;
        background: #f1f1f1;
        padding: 4px 6px;
        font-size: 13px;
        font-weight: bold;
        color: #036f98;
    }

    .TimeSlot {
        display: -webkit-inline-box;
        width: 18%;
        margin: 6px 7px;
        box-shadow: 1px 2px 4px #ddd;
        cursor: pointer;
        background: #cccccc;
        color: #fff;
        padding: 2px 22px;
        /* border-top-left-radius: 15px; */
        /* border-bottom-right-radius: 15px; */
        line-height: 22px;
        text-align: center;
    }

        .TimeSlot:hover {
            box-shadow: 1px 2px 4px #4c4646;
            transition: all 0.6s;
        }

    span[disabled] {
        background: #ccc !important;
        cursor: not-allowed !important;
    }

        span[disabled] > .TimeSlot-Status {
            background: #595a58 !important;
        }

    .disabled {
        background: #ddd !important;
    }

    .btn-flat {
        padding: 5px;
        border: navajowhite;
    }

    /*.search-section {
        border: 1px solid #ddd;
        background: #ffeaea;
        padding: 5px;
        line-height: 26px;
        text-align: center;
    }*/

    .flex {
        display: flex !important;
        align-items: center;
    }

    hr {
        margin-top: 35px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .fileinput.input-group {
        display: flex;
    }

    .text-17 {
        font-size: 17px;
    }

    .scroll {
        width: 100%;
        background: #fff;
        overflow: overlay;
        max-height: 480px;
        display: block;
    }

    .panel-body {
        /*box-shadow: 1px 1px 10px #d2d2d2;*/
        border-radius: 10px;
        padding: 5px 3px 0px 3px;
        position: relative;
    }

    .ml15 {
        margin-left: 15px;
    }

    .btn-close {
        right: 5px;
        opacity: 100%;
        position: absolute;
        color: #fff !important;
        font-weight: bold;
        font-size: 12px;
        padding: 0px 6px;
        background: #b92c02;
        height: 16px;
        border-radius: 2px;
        cursor: pointer;
    }

    .category {
        font-weight: bold;
        background: #2478a9;
        display: block;
        color: #ffffff;
        padding: 1px 9px;
    }

    .search-section {
        border: 1px solid #ddd;
        background: #ffeaea;
        padding: 0px;
        line-height: 25px;
        text-align: center;
        height: 60px;
        padding-top: 5px;
    }

    .borderhight {
        border-right: 1px solid black;
        height: 100%;
    }

    .btnActiveLists {
        width: 95%;
        height: 28px;
        margin-top: 10%;
    }

    .btnGet {
        width: 50%;
        height: 28px;
        margin-top: 10%;
    }

    #tblphotoDeshboard thead th {
        color: #fff;
        background: #2478a9;
        font-size: 12px;
        font-weight: bold;
        padding-right: 10px;
        text-align: center;
    }

    #tblphotoDeshboard tbody td {
        font-size: 14px;
        font-weight: bold;
        padding-right: 10px;
        /*text-align: center;*/
    }

    #tblLedgerBy thead th {
        color: #fff;
        background: #2478a9;
        font-size: 12px;
        font-weight: bold;
        padding-right: 10px;
        text-align: center;
    }

    #tblLedgerBy tbody td {
        font-size: 14px;
        font-weight: bold;
        padding-right: 10px;
        /*text-align: center;*/
    }
</style>
<div id="page-content">
    <div class="container">
        <div class="ml15">
            <div class="panel-body" style="margin:-3px 7px">
                <div class="row" style="background-color:#bddeff;margin-bottom:5px;height:60px;padding-top: 5px;margin-right: -8px;">
                    
                    
                    <div class="col-md-2">
                        <button id="btnActiveList" class="btn-success btn-flat btnActiveLists" onclick="GetDataAllBinds('HOTODashBoard')"><i class="fa fa-arrow-right"></i>&nbsp;Active Shfit Status</button>

                    </div>
                    <div class="col-md-2">
                        From
                        <input type="date" id="txtfrom" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        To
                        <input type="date" id="txtTo" class="form-control" />
                    </div>

                    <div class="col-md-2">
                        <div style="display:flex">
                            <button id="btnExeclList"  class="btn-success btn-flat btnGet" onclick="DownloadExcelHOTODashboard()" style="margin-left:10px;width:70%;"><i class="fa fa-file-excel-o"></i>&nbsp;Get HOT LOG</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div style="height:175px;border: 1px solid #4f7ba1;">
                                                <canvas id="chartHoTo"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div class="row">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive" style="height:145px;overflow-y:auto;border: 1px solid #4f7ba1;margin-bottom: 1px;">
                                                <table class="table table-bordered" id="tblLedgerBy">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align:left;width:60%">Ledger Name</th>
                                                            <th style="text-align:center;width:40%">Total Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>

                                                </table>

                                            </div>

                                            <div style="height:25%; width:100%; background-color:#959191;padding:3px;">
                                                <table style="width:100%; font-size: 14px; font-weight: bold; padding-right: 10px;">
                                                    <tr>
                                                        <th style="width:60%">Total</th>
                                                        <th style="width:40%;text-align:center"><label id="totalamount"></label></th>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <div class="row colnospace">
                                        <div class="col-md-12">
                                            <div class="table-responsive" style="height:300px;overflow-y:auto;border: 1px solid #4f7ba1;margin-bottom: 1px;">
                                                <table class="table table-bordered" id="tblphotoDeshboard" style="margin-bottom: 0px;">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align:left;width:29%">Ledger Name</th>
                                                            <th style="text-align:center;width:9%">Work</th>
                                                            <th style="text-align:center;width:9%">NeedToBeReceive</th>
                                                            <th style="text-align:center;width:9%">Received</th>
                                                            <th style="text-align:center;width:9%">Transfer</th>
                                                            <th style="text-align:center;width:9%">Transfer Not Received </th>
                                                            <th style="text-align:center;width:9%">Transfer Received</th>
                                                            <th style="text-align:center;width:9%">Balance</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>

                                            <div style="height:25%; width:100%; background-color:#959191;padding:3px;">
                                                <table style="width:100%; font-size: 14px; font-weight: bold; padding-right: 10px;">
                                                    <tr>
                                                        <th style="width:50%">Total</th>
                                                        <th style="width:40%"></th>
                                                        <th style="width:10%;text-align:center"><label id="totalamount1"></label></th>
                                                    </tr>
                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>