
@{
    ViewBag.Title = "TATReport";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Areas/Lab/JsModule/Report/TATReport.js"></script>
<style>
    .panel {
        margin-bottom: 2px !important;
        margin-left: 2px !important;
    }

    .btn-flat {
        padding: 5px;
        border: navajowhite;
        width: 28%;
        margin-left: 1%;
    }


    .panel-heading {
        padding: 1px 5px;
    }

    .panel-body {
        padding: 2px 1px;
        margin-top: 1px;
    }



    .flex {
        display: flex !important;
        align-items: center;
    }

    hr {
        margin-top: 35px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .panel-body {
        /*box-shadow: 1px 1px 10px #d2d2d2;*/
        border-radius: 10px;
        padding: 5px 3px 0px 3px;
        position: relative;
    }

    .ml15 {
        margin-left: 15px;
    }


    .panel-heading button {
        float: right;
        margin: -25px 2px;
    }

    .text-white {
        color: #fff;
        margin: 6px 2px;
    }
</style>
<div id="page-content">
    <div class="container">
        <div class="ml15">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>TAT Report</h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label>From Date</label>
                            <input type="date" id="txtSearchFrom" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <label>To Date</label>
                            <input type="date" id="txtSearchTo" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label>Department</label>
                            <div style="display:flex">
                                <select id="ddlDepartment" class="form-control" onchange="LoadTestData()"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Test</label>
                            <div style="display:flex;">
                                <select id="ddlTest" class="form-control" style="width:400px"></select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div style="display:flex;">
                                <button id="btnGet" style="width:95%;height: 28px;margin-top:23px;border:none" class="btn btn-success btn-flat" onclick="GetDataTATReport()"><i class="fa fa-search">&nbsp;</i>Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive" style="height:450px;overflow-y:auto;border:1px solid #036f98;margin-top:5px">
                                <table class="table table-bordered" id="tblReport">
                                    <thead>
                                        <tr>
                                            <th style="width:10%">IPOPType</th>
                                            <th style="width:36%">Test Category</th>
                                            <th style="width:10%;text-align:center">NoTest</th>
                                            <th style="width:15%;text-align:center">OnTime </th>
                                            <th style="width:15%;text-align:center">Delayed</th>
                                            <th style="width:7%;text-align:center">ActualGap</th>
                                            <th style="width:7%;text-align:center;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade modalProcess" id="TATReportDetails" tabindex="-1" role="dialog" aria-labelledby="True">
        <div class="modal-dialog modal-md">
            <div class="modal-content" style="margin-top:15%; width:180%; margin-left:-18%;">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="border:1px solid #337ab7eb;height:30px;">
                        <h5 class="text-white">TAT Report Details</h5>
                        <button data-dismiss="modal" class="btn btn-danger btn-xs">x</button>

                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section" style="height:175px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive" style="height:320px;overflow-y:auto; overflow-x:auto;border:1px solid #337ab7;margin-top:-15px;">
                                            <table class="table table-bordered" id="tblTATDetailsDetails">
                                                <thead>
                                                    <tr>

                                                        <th style="width:7%">IPOPType</th>
                                                        <th style="width:9%">IPOPNo</th>
                                                        @*<th style="width:9%">VisitNo</th>*@
                                                        <th style="width:10%">TestCategory</th>
                                                        <th style="width:10%">TestName</th>
                                                        <th style="width:12%">RegDate</th>
                                                        <th style="width:12%">SampleOrInDateTime</th>
                                                        <th style="width:12%">ReportDateTime</th>
                                                        <th style="width:12%">ApprovedDate</th>
                                                        <th style="width:5%;text-align:center">TatHrs</th>
                                                        <th style="width:5%;text-align:center">DelayHrs</th>
                                                        <th style="width:5%;text-align:center">Time</th>

                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

