
@{
    ViewBag.Title = "ReportResetLab";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/Lab/JsModule/ReportResetLab.js"></script>
<style>
    .select-row {
        background: #0076d0 !important;
        color: #fff;
    }

    .scroll {
        overflow: auto;
        max-height: 300px;
    }

    .sampleTaken {
        background: #bcffe0
    }

    .panel-body input, .panel-body select {
        padding: 5px !important;
    }


    #tblResetLab thead th {
        color: #fff;
        background: #2478a9;
        font-size: 12px;
        font-weight: bold;
        padding-right: 3px;
        text-align: center;
    }

    #tblResetLab tbody td {
        font-size: 12px;
        font-weight: bold;
        padding-right: 3px;
        text-align: center;
    }
</style>
<div id="page-content">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading" style="background:#2478a9;padding:1px 10px; ">
                        <p class="text-white">Report Reset Lab</p>
                    </div>
                    <div class="panel-body" style="background:#fff;padding:7px">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="fileinput fileinput-new input-group" style="display:flex;align-items: baseline;">
                                    <input type="text" class="form-control" id="txtVisitNo" placeholder="Visit No" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput" style="display:inline-flex;align-items: baseline;">

                                    <button class="btn-success" onclick="VisitNoBySearch()" style="width:30%;border:none;height:27px"><i class="fa fa-search">&nbsp;</i>Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin:0px; background:#e6f4ff; padding: 5px;margin-bottom: 5px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <table style="width:100%">
                                        <tr>
                                            <td style="text-align:left;white-space:pre"><b>Visit No:</b></td>
                                            <td style="text-align:left;"><span id="_txtVisitNo" style="margin-left:50px"></span></td>
                                            <td style="text-align:left;white-space:pre"><b>Patient Name :</b></td>
                                            <td style="text-align:left"><span id="_txtPatientName" style="margin-left:50px"></span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;white-space:pre"><b>Age:</b></td>
                                            <td style="text-align:left"><span id="_txtAge" style="margin-left:50px"></span></td>
                                            <td style="text-align:left;white-space:pre"><b>Gender:</b></td>
                                            <td style="text-align:left"><span id="_txtGender" style="margin-left:50px"></span></td>
                                        </tr>


                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-heading" style="background:#2478a9;padding:1px 10px;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="text-white">Booked Test</p>
                                            </div>
                                            <div class="col-md-6">
                                                <button class="btn-warning pull-right" onclick="ResetALL()" style="width: 16%; border:none;height: 24px;margin-top: 2px; margin-bottom: 2px;">Reset ALL</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="scroll" style="min-height:220px; display:block; border:1px solid #2478a9; overflow:auto;padding-bottom:7px;">
                                                <div class="table table-responsive">
                                                    <table class="table table-bordered" id="tblResetLab">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 10%;">Test Code</th>
                                                                <th style="width: 20%;">Test Name</th>
                                                                <th style="width: 10%;">Sample Collect</th>
                                                                <th style="width: 10%;">Sample Distributed</th>
                                                                <th style="width: 10%;">Dispatch_date </th>
                                                                <th style="width: 10%;">Deposit Received</th>
                                                                <th style="width: 10%;">Report Approved</th>
                                                                <th style="width: 10%;">Sample Required</th>
                                                                <th style="width: 10%;">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

