
@{
    ViewBag.Title = "Diagnostic Display";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DoctorDisplay</title>
    @Html.Partial("_header")
    <script src="~/JsModule/global.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/Areas/OPD/JsModule/DiagnosticDisplay.js?v1.1"></script>
    <style type="text/css">
        body {
            overflow: hidden;
        }

        .AllPending {
            overflow: hidden;
        }

        .AllConsulting {
            /*max-height: 170px !important;*/
            overflow: hidden;
            margin-bottom: 0;
        }

        table > thead > tr > td {
            white-space: pre;
            font-size: 25px;
            font-weight: bold;
            color: #fff;
            border: 3px solid #fff;
            background: #66a60e;
            padding: 7px 6px
        }

        .title2 {
            font-size: 45px;
            color: #fff;
            background: #2478a9;
            margin: 0;
            padding: 15px;
            border-bottom: 1px solid #fff;
        }

        .table > tbody > tr > td {
            white-space: pre;
            font-size: 25px;
            font-weight: bold;
            border: 3px solid #fff;
            background: #d7d5d3;
            padding: 7px 6px;
        }


        /*.table  > tr > td:nth-child(odd) {
                width: 30% !important;
            }
        .table > tr > td:nth-child(even) {
            width: 50% !important;
        }*/

        /*.table > tbody > tr > td:nth-child(1) {
                width: 15%;
            }

            .table > tbody > tr > td:nth-child(3) {
                font-size: 23px !important;
                text-align: center !important;
                width: 15%;
            }

            .table > tbody > tr > td:nth-child(2) {
                width: 55%;
            }*/

        .DoctorDisplay {
            overflow: hidden;
            padding: 2px;
            border: 1px solid #2478a9;
            margin: .3% 1%;
            background: #fff;
            width: 99.30vw;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="DoctorDisplay">
            <h3 class="text-center title2">DIAGNOSTIC TOKEN DISPLAY SCREEN</h3>
            <div class="AllConsulting">
                <table class="table tblConsulting" id="tblConsulting" style="margin-bottom: 0;">
                    <thead>
                        <tr>
                            <td class="text-center">Room No</td>
                            <td>Patient Name</td>
                            <td class="text-center">Token No</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="AllPending">
                <table class="table tblAllPendingAbsent1" id="tblAllPendingAbsent1" style="margin-bottom: 0;">
                    <tbody></tbody>
                </table>
                <marquee class="myMarquee" id="myMarquee" direction="up" scrollAmount="4">
                    <table class="table tblAllPendingAbsent" id="tblAllPendingAbsent">
                        <tbody></tbody>
                    </table>
                </marquee>
            </div>
        </div>
    </div>
</body>
</html>

