@{
    ViewBag.Title = "MedicalCertificate";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/OPD/JsModule/MedicalCertificate.js"></script>
<style>
    .select-row {
        background: #0076d0 !important;
        color: #fff;
    }

    .scroll {
        overflow: auto;
        max-height: 300px;
    }

    .sampleTaken {
        background: #bcffe0
    }

    .panel-body input, .panel-body select {
        padding: 5px !important;
    }
</style>
<div id="page-content">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading" style="background:#2478a9;padding:1px 10px; ">
                        <p class="text-white">Medical Certificate</p>
                    </div>
                    <div class="panel-body" style="background:#fff;padding:7px;">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput" style="display:inline-flex;align-items: baseline;">
                                    <input class="form-control" type="text" name="UHID No" placeholder="UHID NO" id="txtUHIDNo" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput" style="display:inline-flex;align-items: baseline;">
                                    <button class="btn-warning" onclick="GetdataByUHID()" style="width:20%;border:none;height:27px"><i class="fa fa-search">&nbsp;</i>Search</button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive" style="overflow-y:auto;border: 1px solid #4f7ba1;">
                                    <table class="table table-bordered" id="tblPatientByUHID">
                                        <thead>
                                            <tr>
                                                <th>UHID</th>
                                                <th>Patient Name</th>
                                                <th>Age/Gender</th>
                                                <th>Relation Name</th>
                                                <th>Address</th>
                                                <th>State</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-3">
                                <label>OPD/IPD NO:</label>
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput" style="display:inline-flex;align-items: baseline;">
                                    <input class="form-control" type="text" name="OPD/IPD NO" placeholder="IPD NO" id="txtIPDNO" />
                                </div>
                            </div>

                            <div class="col-md-5">
                                <label>Chief Complaint</label>
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput" style="display:inline-flex;align-items: baseline;">
                                    <input class="form-control" type="text" name="Chief Complaint" placeholder="Chief Complaint" id="txtChiefComplaint" maxlength="200" />
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label>From</label>
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput" style="display:inline-flex;align-items: baseline;">
                                    <input class="form-control" type="date" name="Date" id="txtfrom" />
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label>To</label>
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput" style="display:inline-flex;align-items: baseline;">
                                    <input class="form-control" type="date" name="Date" id="txtTo" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <label>Remark</label>
                                <label id="txtautoid" hidden></label>
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput" style="display:inline-flex;align-items: baseline;">
                                    <textarea id="txtRemark" style="padding:0px;font-size:12px;height:170px;" class="form-control" type="text" maxlength="5000"></textarea>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label></label>
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput" style="display:flex;align-items: baseline;">
                                    <button class="btn-success" id="btnSave" style="width:40%;margin-top:58%;border:none;height:27px" onclick="InsertMedicalData()"><i class="fa fa-save">&nbsp;</i>Save</button>
                                    <button class="btn-success" id="btnUpdate" style="width:45%;margin-top:58%;border:none;height:27px; display:none" onclick="UpdateMedical()"><i class="fa fa-save">&nbsp;</i>Update</button>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive" style="overflow:auto;border: 1px solid #4f7ba1;height:200px">
                                    <table class="table table-bordered" id="tblMedicalCertificate">
                                        <thead>
                                            <tr>
                                                <th>Action</th>
                                                <th>UHID NO</th>
                                                <th>OPD/IPDNO</th>
                                                <th>Chief Complaint</th>
                                                <th>Remark</th>
                                                <th>From</th>
                                                <th>To</th>
                                                <th>CMD</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

