
@{
    ViewBag.Title = "ManageABHA";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style>
    iframe {
        width: 100vw;
        height: 100vh;
        border: none;        
    }
</style>
<script>
    $(document).ready(function () {
    CloseSidebar();    
})
</script>
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="ml15">
            <div class="col-md-12">
                <iframe src="ManageABHA1" />
            </div>
            </div>
        </div>
    </div>
</div>

