
@{
    /**/

    ViewBag.Title = "MedicineReturn";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Areas/IPD/JsModule/Indent/MedicineReturn.js?ver=1.2>"></script>
<style>
    .panel {
        margin-bottom: 2px !important;
        margin-left: 2px !important;
    }

    .panel-heading {
        padding: 1px 5px;
    }

    .panel-body {
        padding: 2px 1px;
        margin-top: 1px;
    }

    .selected {
        background-color: #3498db;
        color: #fff;
    }

    .bn {
        margin: 0px;
        font-size: 10pt;
        padding: 0px 12px;
        border-radius: 0;
        height: 32px;
        /*margin-top: 11%;*/
    }

    .btn-add {
        border: none;
        padding: 6px;
        margin-left: 1px;
    }

    .btn {
        border: none;
        padding: 1px 9px;
        font-size: 13px;
        margin-bottom: 2px;
    }

    #tblCheckBillStatus thead th {
        padding: 4px;
    }

    #tblCheckBillStatus tbody td {
        font-size: 12px;
        padding: 2px;
    }
</style>
<div id="page-content">
    <div class="col-lg-12">
        <div class="row">
            <div class="ml15">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h5>Medicine Return</h5>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label>IPD NO</label>
                                <div style="display:flex">
                                    <input id="txtmasterkey" hidden />
                                    <select id="ddlPayMode" class="form-control">
                                        <option value="Credit" selected="selected">Credit</option>
                                        <option value="Paid">Paid</option>
                                    </select>
                                    <input type="text" id="txtIPDNo" class="form-control" />
                                    <button id="btnSearch" style="width:44%;height:28px" class="btn bg-blue bn" onclick="GetIPDNoWiseData()"><i class="fa fa-search"></i>&nbsp;Search</button>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div style="background: #e9e9e9;padding:5px;height: 55px;border: 1px solid #e3e3e3;">
                                    <div class="col-md-10">
                                        <table style="width:100%">
                                            <tr>
                                                <td style="text-align:left">IPDNo</td>
                                                <td style="text-align:left"><label id="txtIpdno" style="margin-left:16px"></label></td>
                                                <td style="text-align:left">PatientName</td>
                                                <td style="text-align:left"><label id="txtname" style="margin-left:16px"></label></td>

                                            </tr>
                                            <tr>
                                                <td style="text-align:left">UHID</td>
                                                <td style="text-align:left"><label id="txtuhid" style="margin-left:16px"></label></td>
                                                <td style="text-align:left">PanelName</td>
                                                <td style="text-align:left"><label id="txtpanel" style="margin-left:16px"></label></td>

                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-2">
                                        <button id="btnsubmit" data-ajax style="height:28px;margin-top:15%; float:right;" class="btn btn-success bn" onclick="FinalSubmitData()"><i class="fa fa-save"></i>&nbsp;Submit</button>
                                    </div>
                                    @*<button id="btnsubmit" style="width:12%;height:28px;margin-top:3%; float:right;" class="btn btn-success bn" onclick="FinalSubmitData()"><i class="fa fa-save"></i>&nbsp;Submit</button>*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="table-responsive" style="height:460px;overflow-y:auto;border:1px solid #337ab7; margin-top:2px">
                                    <table class="table table-bordered" id="tblMedicineReturn">
                                        <thead>
                                            <tr>
                                                <th style="width:20%">Product Id</th>
                                                <th style="width:50%">Product Name</th>
                                                <th style="width:20%;text-align:center">Qty</th>
                                                <th style="width:10%">Cmd</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="table-responsive" style="height:230px;overflow-y:auto;border:1px solid #337ab7; margin-top:2px">
                                    <table class="table table-bordered" id="tblMedicineReturnDetalis">
                                        <thead>
                                            <tr>
                                                <th style="width:20%">Master Key</th>
                                                <th style="width:20%">Batch No</th>
                                                <th style="width:20%;">ExpDate</th>
                                                <th style="width:15%">PayMode</th>
                                                <th style="width:10%;text-align:center">Qty</th>
                                                <th style="width:5%"></th>
                                                <th style="width:10%"></th>

                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>

                                <div class="table-responsive" style="height:230px;overflow-y:auto;border:1px solid #337ab7; margin-top:2px">
                                    <table class="table table-bordered" id="tblStoreData">
                                        <thead>
                                            <tr>
                                                <th width="75%">Master Key</th>
                                                <th width="15%" style="text-align:center">Used Qty</th>
                                                <th width="10%" style="text-align:center">cmd</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <div style="width:100%;margin-top:-19px; background-color:#b5b1b16b">
                                        <div class="flex">
                                            &nbsp;&nbsp;&nbsp;Item Count
                                            <label id="txttotalamount" style="float:right;font-size:16px;margin-right:109px;"></label>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

