<style>
    ul.steps {
        padding: 0;
        list-style: none;
        margin-bottom: 0;
    }
    .block{
        pointer-events:none;
        opacity:0.5;
    }

        ul.steps li {
            margin: -2px;
            padding: 11px 12.7px;
            display: inline-block;
            border: 1px solid #e5e5e5;
            color: #000;
            font-size: 13px;
            font-weight: bold;
        }

            ul.steps li label {
                width: 24px;
                height: 24px;
                border-radius: 30px;
                font-size: 12px;
                padding: 7px 8px;
                color: #ffffff;
                background: #e3e3e3;
                line-height: 1;
                margin-bottom: 0;
                margin-right: 13px;
            }

    li.activeTab {
        border-bottom: 3px solid #0085d3 !important;
    }

        li.activeTab label {
            background: #0085d3 !important;
        }

    .mendatory {
        color: red;
    }

    #txtAadhar1, #txtAadhar2, #txtAadhar3 {
        text-align: center;
        width: 90px;
        height: 40px;
        font-size: 16px;
        margin: 0 6px;
        font-size: 17px;
    }

    .tabcontent {
        padding: 10px;
    }

    .formLabel {
        font-weight: bold;
        white-space: pre;
        margin-bottom: 0;
        color: #3c3c3c;
        font-size: 12px;
    }

    .flex {
        display: flex;
        align-items: center;
    }

    .toggleShow {
        color: #096ea9;
        font-size: 20px;
        cursor: pointer;
    }

    .aadhartext input:focus {
        outline-style: none;
        box-shadow: none;
    }

    .noteIcon {
        color: #6554c0;
        font-size: 8px;
        border: 1px solid;
        border-radius: 44px;
        padding: 1px 3px;
        margin: 2px 4px;
    }

    .noteLabel {
        margin-bottom: 0;
        color: #6554c0;
        font-size: 14px;
        margin-top: 4px;
    }

        .noteLabel a {
            font-size: 12px;
            color: #d95b11;
            text-decoration: none;
            font-weight: bold;
        }

    .termsAndCondition {
        margin-top: 10px;
        border: 1px solid #e9e9e9;
        height: 200px;
        overflow: auto;
        border-radius: 5px;
        color: #363535;
        padding: 10px;
        font-size: 15px;
    }

    .validateAadhar {
        border-color: red;
        color: red;
    }

    .acceptTermsCond {
        border-radius: 5px;
        margin-top: -3px;
        border: 1px solid #e9e9e9;
        padding: 11px 10px 1px 10px;
        font-size: 17px;
        color: #096ea9;
    }

    .captcha {
        box-shadow: 0px 1px 0px 0px #e9e9e9;
        border: 1px solid #e7e7e7;
        border-radius: 5px;
        margin-top: 20px;
        padding: 5px;
    }
    /*Captcha*/
    .captchaText {
        font-family: fantasy;
        font-size: 25px;
        font-weight: 700;
        color: indianred;
        margin-left: 6px;
    }

    #txtCaptchaText {
        border-radius: 5px;
        height: 40px;
        border: 1px solid #ddd;
        margin: 0 18px;
        padding: 10px;
    }

    .captchaRefresh {
        color: cornflowerblue;
        font-size: 22px;
        cursor: pointer;
    }

    .otptext input {
        text-align: center;
        width: 55px;
        height: 40px;
        font-size: 16px;
        margin: 0 3px;
        font-size: 17px;
    }

    .otptext_cd input {
        text-align: center;
        width: 55px;
        height: 40px;
        font-size: 16px;
        margin: 0 3px;
        font-size: 17px;
    }

    .otpResend {
        color: #383838;
        font-weight: bold;
        font-size: 13px;
        display: flex;
        align-items: baseline;
        padding: 8px 0px;
    }

    .btnResend {
        cursor: pointer;
        margin: 0 36px;
        color: red;
    }

    .mobileInputAuth {
        border: 1px solid #c9c8c8;
        border-radius: 5px;
        padding: 3px;      
        align-items: center;
    }

        .mobileInputAuth label {
            background: #e9ecef;
            padding: 7px 30px;
            margin: -3px;
            border-radius: 5px 0 0px 5px;
        }

        .mobileInputAuth input:focus {
            outline-style: none;
            box-shadow: none;
        }

    .abhaInputAuth {
        border: 1px solid #c9c8c8;
        border-radius: 5px;
        padding: 3px;
        display: flex;
        align-items: center;
    }

        .abhaInputAuth label {
            background: #e9ecef;
            padding: 7px 30px;
            margin: -3px;
            border-radius: 5px 0 0px 5px;
        }

    .mobileCheck {
        background: #bdbdbd;
        color: #fff;
        border-radius: 44px;
        padding: 1px 4px;
        font-size: 12px;
        line-height: 19px;
        margin: 6px;
        width: 20px;
        height: 20px;
    }

    .btnNext {
        background: #d66025;
        color: white;
        border-color: #d66025;
    }

    .msg1 {
        font-size: 13px !important;
        color: #24a724 !important;
        background: #e9f9e9 !important;
        padding: 6px 12px !important;
        border-radius: 3px !important;
    }

    .btnSubmit {
        border: 1px solid #ff6c00;
        color: #ff6c00;
        background: #fff;
    }

    .cdVerifyMobileOTP {
        display: none;
    }

    .abdmat {
        font-size: 15px !important;
        background: #e9ecef;
        padding: 7px 10px !important;
        margin: -2px;
        border-radius: 0px 3px 3px 0px !important;
    }

    #suggestList {
        font-size: 13px;
    }

    .AE_Tittle {
        color: #ef5e16;
        text-align: center;
        width: 100%;
        font-size: 18px;
    }

    #btnAE_ViewProfile {
        border: none;
        background: #ef5e16;
    }

    .AE_msg {
        text-align: center;
        font-weight: bold;
        font-size: 13px;
    }

    .AE_icon {
        color: #ef5e16;
        font-size: 34px;
    }
</style>
<script src="~/Areas/ApplicationResource/JsModule/ABHA_Registration_Aadhar.js?v1.6"></script>
<div id="Step1" class="visible">
    @*<label class="bg-custom tittle" id="lblTitle">Registration Process : <b class="text-danger">Authentication</b>  <p id="responseMsg"></p></label>*@
    <ul class="steps">
        <li><label>1</label>Consent Collection</li>
        <li><label>2</label>Aadhar Authentication</li>
        <li><label>3</label>Comminication Details</li>
        <li><label>4</label>ABHA Address Creation</li>
    </ul>
    <div id="ConsentCollection" class="tabcontent">
        <div class="col-md-12">
            <label class="formLabel">Aadhar Number <span class="mendatory">*</span> </label>
            <div class="flex aadhartext">
                <input type="password" onkeyup="CheckAadharDigit(this)" id="txtAadhar1" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="4" class="form-control" placeholder="0000" />&nbsp;-
                <input type="password" onkeyup="CheckAadharDigit(this)" id="txtAadhar2" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="4" class="form-control" placeholder="0000" />&nbsp;-
                <input type="password" onkeyup="CheckAadharDigit(this)" id="txtAadhar3" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="4" class="form-control" placeholder="0000" />&nbsp;
                <i onclick="toggleShow()" class="fa fa-eye toggleShow">&nbsp;</i>
            </div>
        </div>
        <div class="col-md-12">
            <label class="noteLabel">
                <i class="fa fa-info noteIcon">&nbsp;</i>Please ensure that mobile number is linked with Aadhaar as it will be required for OTP authentication.
                If you do not have a mobile number linked, visit the nearest&nbsp;<a href="https://facility.ndhm.gov.in/searchV2" target="_blank">ABDM participating facility</a>&nbsp;and seek assistance.
            </label>
        </div>
        <div class="col-md-12">
            <p class="termsAndCondition">
                <b>Terms and Conditions</b><br />
                I, hereby declare that I am voluntarily sharing my Aadhaar number and demographic information issued by UIDAI,
                with National Health Authority (NHA) for the sole purpose of creation of ABHA number. I understand that my ABHA
                number can be used and shared for purposes as may be notified by ABDM from time to time including provision of
                healthcare services. Further, I am aware that my personal identifiable information (Name, Address, Age, Date of
                Birth, Gender and Photograph) may be made available to the entities working in the National Digital Health Ecosystem
                (NDHE) which inter alia includes stakeholders and entities such as healthcare professionals (e.g. doctors), facilities
                (e.g. hospitals, laboratories) and data fiduciaries (e.g. health programmes), which are registered with or linked to
                the Ayushman Bharat Digital Mission (ABDM), and various processes there under. I authorize NHA to use my Aadhaar number
                for performing Aadhaar based authentication with UIDAI as per the provisions of the Aadhaar (Targeted Delivery of
                Financial and other Subsidies, Benefits and Services) Act, 2016 for the aforesaid purpose. I understand that UIDAI
                will share my e-KYC details, or response of “Yes” with NHA upon successful authentication. I have been duly informed
                about the option of using other IDs apart from Aadhaar; however, I consciously choose to use Aadhaar number for the
                purpose of availing benefits across the NDHE. I am aware that my personal identifiable information excluding Aadhaar
                number / VID number can be used and shared for purposes as mentioned above. I reserve the right to revoke the given
                consent at any point of time as per provisions of Aadhaar Act and Regulations.
            </p>
        </div>
        <div class="col-md-12">
            <div class="acceptTermsCond">
                <label><input type="checkbox" name="acceptAadharTermsCond" />&nbsp; I agree</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="captcha">
                    <b>Captcha <span class="mendatory">*</span></b><br />
                    <label class="captchaText">5+7=?</label>
                    <input type="text" id="txtCaptchaText" placeholder="Enter answer" />
                    <i class="fa fa-refresh captchaRefresh" onclick="captcha()"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="btn-group pull-right" style="margin-top: 55px;">
                    <button class="btn btn-default">Cancel</button>&nbsp;
                    <button onclick="CC_GetOTP(this)" class="btn btn-warning btnNext">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div id="AadharAuthentication" class="tabcontent">
        <div class="row">
            <div class="col-md-12">
                <label class="formLabel">Confirm OTP</label><br />
                <label class="msg">-</label>
                <div class="flex otptext">
                    <input type="text" id="txtOTP1" onkeyup="CheckOTPDigit(this)" maxlength="1" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="form-control" />&nbsp;
                    <input type="text" id="txtOTP2" onkeyup="CheckOTPDigit(this)" maxlength="1" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="form-control" />&nbsp;
                    <input type="text" id="txtOTP3" onkeyup="CheckOTPDigit(this)" maxlength="1" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="form-control" />&nbsp;
                    <input type="text" id="txtOTP4" onkeyup="CheckOTPDigit(this)" maxlength="1" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="form-control" />&nbsp;
                    <input type="text" id="txtOTP5" onkeyup="CheckOTPDigit(this)" maxlength="1" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="form-control" />&nbsp;
                    <input type="text" id="txtOTP6" onkeyup="CheckOTPDigit(this)" maxlength="1" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="form-control" />&nbsp;
                </div>
            </div>
            <div class="col-md-12">
                <div class="otpResend flex">
                    <label class="formLabel">Didn’t receive OTP?</label>
                    <label class="btnResend" onclick="CC_GetOTP(this)">Resend OTP</label>
                    <label><span class="timer"></span> remaining</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="formLabel">Mobile number <span class="mendatory">*</span></label><br />
                <label class="mobileInputAuth">
                    <label>+91</label>
                    <input type="text" id="txtADA_MobileNo" maxlength="10" style="border:none;margin-left: 7px;" placeholder="Mobile number" />
                    <i class="fa fa-check mobileCheck">&nbsp;</i>
                </label>
            </div>
            <div class="col-md-12">
                <label class="noteLabel">
                    <i class="fa fa-info noteIcon">&nbsp;</i>This mobile number will be used for all the communications related to ABHA.
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <button onclick="ADA_VerifyOTP(this)" class="btn btn-warning btnNext pull-right">Next</button>
        </div>
    </div>
    <div id="ComminicationDetails" class="tabcontent">
        <div class="row">
            <div class="col-md-6">
                <label class="msg msg1"></label>
                <label class="formLabel">Mobile number <span class="mendatory">*</span></label><br />
                <div class="flex" style="align-items:baseline">
                    <label class="mobileInputAuth">
                        <label>+91</label>
                        <input type="text" id="txtCD_MobileNo" style="border:none;margin-left: 7px;" placeholder="Mobile number" />
                        <i class="fa fa-check mobileCheck">&nbsp;</i>
                    </label>
                    <button onclick="VerifyCDMobile(this)" style="margin-left: 5px;" class="btn btn-warning btnSubmit">Verify</button>
                </div>
            </div>
            <div class="col-md-12">
                <label class="noteLabel">
                    <i class="fa fa-info noteIcon">&nbsp;</i>This mobile number will be used for all the communications related to ABHA.
                </label>
            </div>
        </div>
        <div class="row cdVerifyMobileOTP">
            <div class="col-md-12">
                <label class="formLabel">Confirm OTP</label><br />
                <label class="msg">-</label>
                <div class="flex otptext_cd">
                    <input type="text" id="txtCD_OTP1" onkeyup="CD_CheckDigit(this)" maxlength="1" class="form-control" />&nbsp;
                    <input type="text" id="txtCD_OTP2" onkeyup="CD_CheckDigit(this)" maxlength="1" class="form-control" />&nbsp;
                    <input type="text" id="txtCD_OTP3" onkeyup="CD_CheckDigit(this)" maxlength="1" class="form-control" />&nbsp;
                    <input type="text" id="txtCD_OTP4" onkeyup="CD_CheckDigit(this)" maxlength="1" class="form-control" />&nbsp;
                    <input type="text" id="txtCD_OTP5" onkeyup="CD_CheckDigit(this)" maxlength="1" class="form-control" />&nbsp;
                    <input type="text" id="txtCD_OTP6" onkeyup="CD_CheckDigit(this)" maxlength="1" class="form-control" />&nbsp;
                </div>
            </div>
            <div class="col-md-12">
                <div class="otpResend flex">
                    <label class="formLabel">Didn’t receive OTP?</label>
                    <label class="btnResend" onclick="CD_VerifyMobile(this)">Resend OTP</label>
                    <label><span class="timer"></span> remaining</label>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button onclick="CD_VerifyOTP(this)" class="btn btn-warning btnNext pull-right">Next</button>
        </div>
    </div>
    <div id="ComminicationDetails_EmailVerify" class="tabcontent">
        <div class="row">
            <div class="col-md-12">
                <label class="msg msg1"><i class="fa fa-check-square">&nbsp;</i>Mobile number has been saved and will be used for all your  ABHA communications.</label>
            </div>
            <div class="col-md-6">
                <label class="formLabel">Enter email address</label><br />
                <div class="flex" style="align-items:baseline">
                    <label class="mobileInputAuth">
                        <input type="text" style="border:none;margin-left: 7px;" placeholder="Enter email address" />
                        <i class="fa fa-check mobileCheck">&nbsp;</i>
                    </label>
                    <button onclick="VerifyCDMobile(this)" style="margin-left: 5px;" class="btn btn-warning btnSubmit">Verify</button>
                </div>
            </div>
            <div class="col-md-12">
                <label class="noteLabel">
                    <i class="fa fa-info noteIcon">&nbsp;</i>This Email address will be used for all the communications related to ABHA.
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <button onclick="NextStep('ABHAAddressCreation')" class="btn btn-warning btnSubmit pull-right">Skip For Now</button>
        </div>
    </div>
    <div id="ABHAAddressCreation" class="tabcontent">
        <div class="row">
            <div class="col-md-12">
                <b style="font-size:12px;">Create Your Unique ABHA Address</b><br />
                <p style="font-size:11px;">
                    ABHA (Ayushman Bharat health Account) address is a unique username that allows you
                    to share and access your health records digitally. It is similar to an email
                    address, but it is only used for health records.<br />

                    To create ABHA address, it should have Min-8 characters, Max-18 characters, special
                    characters allowed -1 dot(.) and/or 1 underscore(_).
                </p>
                <label class="formLabel">Enter ABHA address</label><br />
                <div class="flex" style="align-items:baseline">
                    <label class="abhaInputAuth">
                        <input type="text" id="txtAAC_AbhaAddress" style="border:none;margin-left: 7px;" placeholder="Enter ABHA address" />
                        <i class="fa fa-check mobileCheck">&nbsp;</i>
                        <label class="abdmat">&#35;abdm</label>
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <label id="suggestList">
                    Suggestions :
                    <span style="color:mediumpurple;cursor:pointer">nitinkumar_351993</span>,
                    <span style="color:mediumpurple;cursor:pointer">nitink_1993</span>,
                    <span style="color:mediumpurple;cursor:pointer">kumarnitin_0305</span>,
                    <span style="color:mediumpurple;cursor:pointer">kumarnitin_031205</span>
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <button onclick="createAbhaAadhaarDetail(this)" class="btn btn-warning btnNext pull-right">Create ABHA</button>
        </div>
    </div>
</div>
<div class="modal fade" id="modalABHAExist" role="dialog">
    <div class="modal-dialog modal-sm" style="width:360px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="padding:20px;">
                <label class="AE_Tittle"> <i class="fa fa-check-circle-o AE_icon"></i><br />ABHA Account Exist</label>
                <p class="AE_msg">
                    We have found an ABHA xx-xxxx-xxxx-<span>xxxx</span> against the  Aadhaar number provided by you.
                </p>
                <button id="btnAE_ViewProfile" onclick="ExistingABHAUserLogin()" class="btn btn-danger btn-block">View Profile</button>
            </div>
        </div>

    </div>
</div>

<script>
    function NextStep(stepName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(stepName).style.display = "block";
        var _stepName = (stepName == 'CreateAbha') ? 'Create ABHA' : (stepName == 'CheckExistance') ? 'Check Existance' : stepName;
        $('#lblTitle b').text(_stepName);
        $('#responseMsg').empty().hide();
    }
</script>