

<style>
    .card_box {
        height: 500px;
        background: #fff;
        border-radius: 5px;
        padding: 15px;
        border: 1.1px solid #ebebeb;
    }

    .block {
        pointer-events: none;
        opacity: 0.5;
    }

    .formLabel {
        font-weight: bold;
        white-space: pre;
        margin-bottom: 0;
        color: #3c3c3c;
        font-size: 14px;
    }
    .validateSection {
        border: 1px solid #e7e7e7;
        padding: 22px 20px;
        border-radius: 5px;
    }
        .validateSection label {
            color: #4e4e4e;
            margin: 0 5px;
        }
    .btn-custom {
        background: #ff6a00;
        color: #fff;
        margin: 15px;
        border: none;
    }
</style>
<script src="~/Areas/ApplicationResource/JsModule/DASH_EditProfile.js?v1.3"></script>
<label>Set Password</label>
<div class="card_box">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <label>Set password <span class="text-danger">*</span></label>
                <input type="text" id="txtSetPassword" class="form-control" placeholder="Set password" />@*<i class="fa fa-eye togglePassword"></i>*@
                <p style="font-size:12px;color:#3084c1;margin-top:5px;">
                    <i class="fa fa-info">&nbsp;</i>Password shound contain minimum eight characters, at least one uppercase letter, one lowercase letter,
                    one number and one special character.
                </p>
            </div>
            <div class="col-md-6">
                <label>Confirm password <span class="text-danger">*</span></label>
                <input type="text" id="txtConfirmPassword" class="form-control" placeholder="Confirm password" />@*<i class="fa fa-eye togglePassword"></i>*@
            </div>
            <div class="col-md-12">
                <label>Validate Using</label>
                <div class="validateSection">
                    <label><input type="radio" name="validate" value="aadahr" />&nbsp;OTP on mobile number linked with Aadhar number</label>
                    <label><input type="radio" name="validate" value="abha" />&nbsp;OTP on mobile number linked with ABHA number</label>
                </div>
            </div>
            <div class="col-md-12">
              <button class="btn btn-custom pull-right" disabled>Submit</button>
            </div>
        </div>
    </div>
</div>