
@{
    ViewBag.Title = "CancelRefundApproval";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/MIS/JsModule/CancelRefundApproval.js"></script>
<style>
    .panel {
        margin-bottom: 2px !important;
        margin-left: 2px !important;
    }

    .panel-heading {
        padding: 1px 5px;
    }

    .panel-body {
        padding: 2px 1px;
        margin-top: 1px;
    }

    .selected {
        background-color: #3498db;
        color: #fff;
    }

    .bn {
        margin: 0px;
        font-size: 10pt;
        padding: 0px 12px;
        border-radius: 0;
        height: 32px;
        /*margin-top: 11%;*/
    }

    .btn-add {
        border: none;
        padding: 6px;
        margin-left: 1px;
    }

    .btn {
        border: none;
        padding: 1px 9px;
        font-size: 13px;
        margin-bottom: 2px;
    }

    #tblCancelRefundApproval th {
        /*padding: 2px;*/
        font-size: 12px;
        text-align: center;
    }

    #tblCancelRefundApproval td {
        padding: 2px;
        font-size: 12px;
        text-align: center;
    }

    .panel-heading button {
        float: right;
        margin: -20px 0px;
    }

    .text-white {
        color: #fff;
        margin: 7px 0px;
    }
</style>
<div id="page-content">
    <div class="col-lg-12">
        <div class="row">
            <div class="ml15">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h5>Canecl Refund Approval</h5>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                Type
                                <div style="display:flex">
                                    <select id="ddlType" class="form-control">
                                        <option value="Select">Select</option>
                                        <option value="OPD" selected>OPD</option>
                                        <option value="IPD">IPD</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-2">
                                Status
                                <div style="display:flex">
                                    <select id="ddlStatus" class="form-control">
                                        <option value="ALL">ALL</option>
                                        <option value="Approve">Approve</option>
                                        <option value="Pending" selected>Pending</option>
                                        <option value="Quarried">Quarried</option>

                                    </select>

                                </div>
                            </div>
                            <div class="col-md-2">
                                From
                                <input type="date" id="txtfromdate" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                To
                                <div style="display:flex">
                                    <input type="date" id="txttodate" class="form-control" />
                                    <button id="btnsearch" style="width:49%;height: 28px; margin-left:8px" class="btn btn-warning bn" onclick="GetDataCanelRefundApproval()"><i class="fa fa-sign-in">&nbsp;</i>Search</button>
                                    <button id="btnExecl" style="width:49%;height: 28px; margin-left:8px" class="btn btn-success bn" onclick="DownloadExcelCancel()"><i class="fa fa-file-excel-o">&nbsp;</i>Execl</button>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive" style="height:450px;overflow-y:auto; overflow-x:auto;border:1px solid #337ab7;margin-top: 3px;">
                                    <table class="table table-bordered" id="tblCancelRefundApproval">
                                        <thead>
                                            <tr>

                                                <th style="width:10%">IPOPNo</th>
                                                <th style="width:10%;text-align:left">Date</th>
                                                <th style="width:10%;text-align:left">UHID</th>
                                                <th style="width:10%;text-align:left">PatientName</th>
                                                <th style="width:10%;text-align:left">Type</th>
                                                <th style="width:10%;text-align:left">DoctorName</th>
                                                <th style="width:10%;text-align:left">ReferenceName</th>
                                                <th style="width:10%">GrossAmount</th>
                                                <th style="width:10%">Discount</th>
                                                <th style="width:10%">Adl_discount</th>
                                                <th style="width:10%">NetAmount</th>
                                                <th style="width:10%">TotalTax</th>
                                                <th style="width:10%">Payable</th>
                                                <th style="width:10%;text-align:left">CancelBy</th>
                                                <th style="width:10%;text-align:left">CancelDate</th>
                                                <th style="width:10%;text-align:left">CancelReason</th>
                                                <th style="width:10%;text-align:left">CancelAgainst</th>
                                                <th>EmployeeName</th>
                                                <th style="width:10%">IsCredit</th>
                                                <th style="width:6%">CMD</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade modalProcess" id="CancelRefundApprovalPop" tabindex="-1" role="dialog" aria-labelledby="True">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content" style="margin-top:10%; width:100%">
                            <div class="panel-heading">
                                <h5 class="text-white">Cancel Refund Approval</h5>
                                <button data-dismiss="modal" class="btn btn-danger btn-xs">x</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section" style="height:175px;">
                                            <label style="font-weight:bold">Remark</label>
                                            <textarea id="txtRemark" class="form-control" style="height:80px; width:560px"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section" style="margin-top:-10%">
                                            <label id="TnxIdd" hidden></label>
                                            <button class="btn btn-success bn" style="width: 75px;" onclick="CancelApprovaldata('Approve')">Approve</button>
                                            <button class="btn btn-warning bn" style="width: 75px;" onclick="CancelApprovaldata('Quarried')">Quarried</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade modalProcess" id="CancelRefundApprovalDetailsPop" tabindex="-1" role="dialog" aria-labelledby="True">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content" style="margin-top:15%; width:135%; margin-left:-15%;">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h5 class="text-white">Cancel Refund Approval Details</h5>
                                    <button data-dismiss="modal" class="btn btn-danger btn-xs">x</button>

                                </div>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section" style="height:175px;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive" style="height:220px;overflow-y:auto; overflow-x:auto;border:1px solid #337ab7;margin-top:-10px;">
                                                        <table class="table table-bordered" id="tblCancelRefundApprovalDetails">
                                                            <thead>
                                                                <tr>

                                                                    <th style="text-align:center;width:15%">ItemId</th>
                                                                    <th style="text-align:left;width:35%">ItemName</th>
                                                                    <th style="text-align:center;width:10%">Panel_rate</th>
                                                                    <th style="text-align:center;width:10%">Discount</th>
                                                                    <th style="text-align:center;width:20%">Additional_Discount</th>
                                                                    <th style="text-align:center;width:10%">Amount</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>