<style>
    input[type=text] {
        height: 18px;
    }

    .btnPrint {
        margin-top: -8px;
    }

    .Approved {
        color: #2e932e;
    }

    .Partial {
        color: #bb970f;
    }

    .ApprovedGroup {
        background: #d9f7d9 !important;
    }

    .PartialGroup {
        background: #ecedb7 !important;
    }

    table td {
        border: none !important;
    }

    table {
        border: none !important;
        margin-bottom: 0;
        font-size: 12px;
    }

    .testCategory {
        padding: 0px 3px;
        background: #ffebeb;
        border-radius: 3px;
        width: max-content;
        height: 19px;
        border: 1px solid #c5c5c5;
        margin: 2px 0px 2px 0px;
        display: flex;
        line-height: 19px;
    }
        /*.btnPrint{
        height: 19px;
        margin-top: -6px;
        line-height: 0;
    }*/
        .testCategory input[type=checkbox] {
            margin: 0
        }

        .testCategory label:nth-child(2) {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            padding: 0 3px;
            margin: 0 5px;
            width: 105px;
            cursor: pointer;
        }

            .testCategory label:nth-child(2):hover {
                color: #1e6c24;
            }

    .testGroup {
        border-radius: 3px;
        width: max-content;
        height: 16px;
        margin: -7px 0px 7px 0px;
    }

        .testGroup label {
            border-left: 1px solid #ddd;
            padding: 0 3px;
            margin: 0 5px;
            width: max-content;
            cursor: pointer;
        }

            .testGroup label:hover {
                color: #1e6c24;
            }

    .row.colnospace [class*='col-'] {
        padding-right: 2px;
        padding-left: 2px;
    }

    .flex {
        display: flex;
    }

        .flex input[type=file] {
            width: 166px;
        }

    .colnospace .col-md-2 {
        width: 13%;
    }

    .Vital-title {
        padding-bottom: 5px;
        border: 1px solid #404040;
        text-align: center;
        color: #000;
        font-family: Verdana, Arial, sans-serif;
        font-weight: bold;
    }

    .Vital-body {
        margin-top: 2px;
        border: 1px solid #404040;
        font-family: Verdana, Arial, sans-serif;
    }

    .btn-flat {
        border-radius: 2px;
        border: none;
        padding: 0;
    }

    #tblVitalSign thead th {
        background: #0076d0;
        color: #fff;
    }    
</style>
<div style="padding:0 2px">
    <div class="Vital-title">
        <span>Lab Report</span>
    </div>
    <div class="Vital-body">
        @Html.Partial("_PatientDeltaReportTestWise")
    </div>
</div>
