
@{
    ViewBag.Title = "CheckBillStatus";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/IPD/JsModule/IPD/CheckBillStatus.js"></script>
<style>
    .panel {
        margin-bottom: 2px !important;
        margin-left: 2px !important;
    }

    .panel-heading {
        padding: 1px 5px;
    }

    .panel-body {
        padding: 2px 1px;
        margin-top: 1px;
    }

    .selected {
        background-color: #3498db;
        color: #fff;
    }

    .bn {
        margin: 0px;
        font-size: 10pt;
        padding: 0px 12px;
        border-radius: 0;
        height: 32px;
        /*margin-top: 11%;*/
    }

    .btn-add {
        border: none;
        padding: 6px;
        margin-left: 1px;
    }

    .btn {
        border: none;
        padding: 1px 9px;
        font-size: 13px;
        margin-bottom: 2px;
    }

    #tblCheckBillStatus thead th {
        padding: 4px;
    }

    #tblCheckBillStatus tbody td {
        font-size: 12px;
        padding: 2px;
    }
</style>
<div id="page-content">
    <div class="col-lg-12">
        <div class="row">
            <div class="ml15">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h5>Check Bill Status</h5>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <label>IPD NO</label>
                                <div style="display:flex">
                                    <input type="text" id="txtIPDNo" class="form-control" />
                                    <button id="btnSearch" style="width:35%;height:28px" class="btn bg-blue bn" onclick="GetDataAllIPDNOWise()"><i class="fa fa-search"></i>Search</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Panel Name</label>
                                <div style="display:flex">
                                    <select id="ddlPanel" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Report Type</label>
                                <div style="display:flex">
                                    <select id="ddlReportType" class="form-control">
                                        <option value="ALL">ALL</option>
                                        <option value="ReceivableMismatch">ReceivableMismatch</option>
                                        <option value="ServiceMismatch">ServiceMismatch</option>
                                        <option value="ShortAdjustment">ShortAdjustment</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>From</label>
                                <label style="margin-left:28%">To</label>
                                <div style="display:flex">
                                    <input type="date" id="txtfromdate" class="form-control" />
                                    <input type="date" id="txttodate" style="margin-left:18px" class="form-control" />
                                    <button id="btnGet" style="width:44%;height: 28px; margin-left:8px" class="btn btn-warning bn" onclick="GetDataAllDateWise()"><i class="fa fa-sign-in">&nbsp;</i>Get</button>
                                    <button id="btnExecl" style="width:44%;height: 28px;margin-left:8px;margin-right:2px" class="btn btn-success bn" onclick="ExcelCheckBillStatus()"><i class="fa fa-file-excel-o">&nbsp;</i>Excel</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive" style="height:450px;overflow-y:auto;border:1px solid #337ab7; margin-top:2px">
                                    <table class="table table-bordered" id="tblCheckBillStatus">
                                        <thead>
                                            <tr>
                                                <th style="width:7%">IPD NO</th>
                                                <th style="width:7%">Patient Name</th>
                                                <th style="width:7%; text-align:center">IsCredit</th>
                                                <th style="width:7%">InsuranceCompanyName</th>
                                                <th style="width:7%">BillDate</th>
                                                <th style="width:7%;text-align:center">Net</th>
                                                <th style="width:7%;text-align:center">ApprovalAmount</th>
                                                <th style="width:7%;text-align:center">AppliedApproval</th>
                                                <th style="width:7%;text-align:center">OutStanding</th>
                                                <th style="width:7%;text-align:center">Receivable</th>
                                                <th style="width:7%;text-align:center">TDS</th>
                                                <th style="width:7%;text-align:center">Payment</th>
                                                <th style="width:7%;text-align:center">BadDebt</th>
                                                <th style="width:7%;text-align:center">Received</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
