
@{
    ViewBag.Title = "InsuranceAmountEntry";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<style>
    .row.colnospace [class*='col-'] {
        padding-right: 2px;
        padding-left: 2px;
    }
    .select-row {
        background: #0076d0 !important;
        color: #fff;
    }
    #tblTpaApprInfo button.update {
        width: 62%;
        border-radius: 0;
        margin: 0;
        height: 23px;
    }
    #tblTpaApprInfo input[type=text] {
        text-align: right;
        border: 1px solid #f39c12;
        height: 23px;
        width: 90%;
        border-radius: 0;
    }
    .flex {
        display: flex;
    }

        .flex input[type=file] {
            width: 166px;
        }

    .colnospace .col-md-2 {
        width: 13%;
    }
</style>
<script src="~/Areas/IPD/JsModule/IPD/InsuranceAmountEntry.js?v=1.1"></script>
<div id="page-content">
    <div class="container">
        <div class="panel-body">
            <div class="row colnospace" style="background-color:#bddeff;margin-bottom:10px;height:60px;padding-top: 5px;">
                <div class="col-md-2">
                    <button id="btnAllPending" style="margin-top:21px" onclick="AdmittedPatientList('PendingApprovalAmtEntry')" class="btn btn-warning"><i class="fa fa-search">&nbsp;</i>Get Pending</button>
                </div>
                <div class="col-md-2">
                    From Date
                    <input type="date" id="txtSearchFrom" class="form-control" placeholder="from : dd-mm-yyyy" />
                </div>
                <div class="col-md-2">
                    To Date
                    <input type="date" id="txtSearchTo" class="form-control" placeholder="to : dd-mm-yyyy" />
                </div>
                <div class="col-md-3">
                    Panel Name
                    <select id="ddlPanel" class="form-control border-imp"><option>Select</option></select>
                </div>
                <div class="col-md-1">
                    <br />
                    <button id="btnAllPatient" onclick="AdmittedPatientList('ApprovalAmtEntryBetweenDate')" class="btn btn-success"><i class="fa fa-search">&nbsp;</i>Search</button>
                </div>
                <div class="col-md-2">
                    IPD No
                    <div class="flex">
                        <input type="text" id="txtIPDNo" style="border-color: #00a65a;border-radius: 0;" class="form-control" placeholder="IPD No." />
                        <button id="btnByIPDNo" style="width:40%;height: 28px;border-radius: 0;margin: 0;" onclick="AdmittedPatientList('BillInfoForApprovalByIPDNo')" class="btn btn-success">Get</button>
                    </div>
                </div>
            </div>
            <div class="row colnospace">
                <div class="scroll" style="height:38vh;overflow:auto">
                    <table id="tblServiceRegister" class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width:1%">CMD</th>
                                <th>IPD No</th>
                                <th>Bill No</th>
                                <th>Patient Name</th>
                                <th>Panel Name</th>
                                <th>Bill Date</th>
                                <th class="text-right">Total Amount</th>
                                <th class="text-right">Total Discount</th>
                                <th class="text-right">Net Payable</th>
                                <th class="text-right">Received</th>
                                <th class="text-right">Balance</th>
                                <th style="width:1%">CMD</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="row colnospace" style="background-color:#bddeff;margin-bottom:10px;height:60px;padding-top: 5px;">
                <div class="col-md-2">
                    <label>Net Amount</label>
                    <input type="text" id="txtNetAmt" class="form-control" style="font-size:15px;font-weight:bold;" readonly="readonly" />
                </div>
                <div class="col-md-2">
                    <label>Advance Amount</label>
                    <div class="flex">
                        <input type="text" id="txtAdvanceAmt" class="form-control" style="font-size:15px;font-weight:bold" readonly="readonly" />
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Balance Amount</label>
                    <input type="text" id="txtBalanceAmt" class="form-control" style="font-size:15px;font-weight:bold" readonly="readonly" />
                </div>

                <div class="col-md-4">
                    <label>Patient Name</label>
                    <input type="text" id="txtPatientName" class="form-control" style="font-size:12px;font-weight:bold" readonly="readonly" />
                </div>
            </div>
            <div class="row colnospace" style="height:35px;">
                <div class="col-md-4">
                    <div style="display:flex;align-items: baseline;">
                        <label style="white-space:pre">Approval Type :&nbsp;</label>
                        <select id="ddlApprType" class="form-control border-imp" style="width: 90px !important;">
                            <option value="Select" selected="selected">Select</option>
                            @*<option value="Routine">Routine</option>*@
                            <option value="Final-Approval" selected>Final-Approval</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2" style="width:16%">                                      
                    <button id="btnSaveTPAApprovalAmount" onclick="UpdateInsCompAmt()" class="btn btn-warning"><i class="fa fa-sign-in">&nbsp;</i>Update Amount</button>
                </div>
            </div>         
            <div class="row colnospace">
                <div class="scroll" style="height:200px">
                    <table id="tblTpaApprInfo" class="table table-bordered" style="font-size:12px;">
                        <thead>
                            <tr>
                                <th style="width:1%">cmd</th>
                                <th>Insurance Company</th>
                                <th>ApprovalType</th>
                                <th>Claim No</th>
                                <th style="width: 8%;">Amount</th>
                                <th style="width: 8%;">Co Pay</th>
                                <th style="width: 8%;">Discount</th>
                                <th>Remarks</th>
                                <th>Approval Date</th>
                                <th style="width:1%">cmd</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

