
@{
    ViewBag.Title = "IPD_Estimate";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/IPD/JsModule/IPD/IPD_Estimate.js?V1.1"></script>
<script src="~/Content/ckeditor/ckeditor.js"></script>
<style type="text/css">
    .panel {
        margin-bottom: 2px !important;
    }

    .panel-heading {
        padding: 1px 5px;
    }

    #selectedForm {
        background: #ddd;
        border-radius: 3px;
        padding: 5px;
        margin: -6px 0 10px 10px;
    }

    .btn-add {
        border: none;
        padding: 6px;
        margin-left: 1px;
    }

    .btn-tbl {
        border: none;
        padding: 1px 9px;
        font-size: 13px;
        margin-bottom: 2px;
    }

    .flex {
        display: flex !important;
        align-items: center;
    }

    hr {
        margin-top: 35px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .custom-table {
        width: 100%;
        line-height: 29px;
        font-size: 12px;
    }

    .fileinput.input-group {
        display: flex;
    }

    .text-17 {
        font-size: 17px;
    }

    .btn-flat {
        padding: 2px;
        border: none;
    }

    .scroll {
        width: 100%;
        background: #fff;
        overflow: overlay;
        max-height: 450px;
        display: block;
    }

    .panel-body {
        padding: 5px 3px 0px 3px;
        position: relative;
    }


    .bn {
        margin: 0px;
        font-size: 10pt;
        padding: 0px 10px;
        border-radius: 0;
        text-align: left;
        height: 30px;
    }

    .bc {
        border: 1px solid #00a65a;
        border-radius: 0;
    }

    #cke_1_contents {
        height: 345px !important;
    }

    .multiselect {
        width: 432px;
        height: 20px;
        border: solid 1px #c0c0c0;
        overflow: auto;
        text-align: left;
        font-size: 12px;
        font-weight: 600;
    }

    .employeeInfo {
        background: #bddeff;
        border-radius: 3px;
        padding: 9px;
        height: 57px;
        border: 1px solid #ddd;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 2px;
    }

    .consent-btn {
        margin-right: 30px;
        color: #FFF;
        flex: 1 0 130px;
        background-color: #008080;
        border-color: transparent;
        padding: .2em .5em;
        font-size: 14px;
        font-family: var(--font-primary);
        font-weight: bolder;
        border-width: 2px;
        border-style: solid;
        text-align: center;
        white-space: nowrap;
        border-radius: 5px;
        min-height: 30px;
        margin-bottom: 0px;
    }

    .select-row {
        background: #fff;
        color: #000;
    }
</style>
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-body" style="padding: 4px;margin-left: 20px;">
                            <div class="row" style="margin-bottom:1%">
                                <div class="col-xs-11 flex">
                                    <label style="width:33%;">UHID NO : </label>
                                    <input type="text" name="name" value="" id="txtGetUHID" class="form-control" />
                                    <span class="input-group-btn"><button style="height:28px;margin: -15px;" type="button" class="btn btn-warning" onclick="searchEmployeeByUHID()" id="btnUHIDNo"><div id='skill'><div class='circle'></div></div><i class="fa fa-sign-in">&nbsp;</i></button></span>
                                </div>
                            </div>
                            <div class="panel-heading" style="background:#0076d0;padding: 4px;border: 1px solid #2478a9;">
                                <h6 class="text-white" style="height: 10px;">Existing Estimate </h6>
                            </div>
                            <div class="table-responsive" style="height:250px;overflow:auto;border:1px solid #2478a9;margin-bottom:5px;">
                                <table class="table table-bordered" id="tblEstimate">
                                    <thead>
                                        <tr class="select-row">
                                            <th style="width:30%">Date</th>
                                            <th style="width:50%">To Whom</th>
                                            <th style="width:19%">Amount</th>
                                            <th style="width:1%">cmd</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="table-responsive" style="height:290px;overflow:auto;border:1px solid #2478a9;margin-bottom:5px;">
                                <table class="table table-bordered" id="tblEstimateVariable">
                                    <thead>
                                        <tr>
                                            <th style="width:1%">#</th>
                                            <th>Variable Name</th>
                                            <th style="width:1%">cmd</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>PatientName</td>
                                            <td><input type="checkbox" /></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Age</td>
                                            <td><input type="checkbox" /></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Gender</td>
                                            <td><input type="checkbox" /></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>UHIDNO</td>
                                            <td><input type="checkbox" /></td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Dated</td>
                                            <td><input type="checkbox" /></td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>EstimateNo</td>
                                            <td><input type="checkbox" /></td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>approx(amount)</td>
                                            <td><input type="checkbox" /></td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>AccountName</td>
                                            <td><input type="checkbox" /></td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>AccountNo</td>
                                            <td><input type="checkbox" /></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>BankName</td>
                                            <td><input type="checkbox" /></td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>BankBranch</td>
                                            <td><input type="checkbox" /></td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>IFSCcode</td>
                                            <td><input type="checkbox" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="ml151">
                    <div class="panel">
                        <div class="panel-heading" style="background:#0076d0;padding: 4px;">
                            <h5 class="text-white">Estimate To Patiant </h5>
                        </div>
                        <div class="panel-body" style="padding:10px;height:595px">
                            <div class="col-md-12 employeeInfo" id="txtDisplayData" style="margin-top:-8px;">
                                <div class="row" id="txtdata">
                                    <div class="col-sm-6">
                                        <label><b>Name :</b></label>
                                        <span id="txtName">  </span>
                                    </div>
                                    <div class="col-sm-3">
                                        <label id=""><b>Age :</b></label>
                                        <span id="txtAge">  </span>
                                    </div>
                                    <div class="col-sm-3">
                                        <label id=""><b>Gender :</b></label>
                                        <span id="txtGender">  </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label id=""><b>Address :</b></label>
                                        <span id="txtAddress">  </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom:1%;margin-top:55px;">
                                <div class="col-md-4 flex">
                                    <label style="width:40%"> To Whom: </label>
                                    <input type="text" name="Whom" value="" id="ToWhom" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <div class="flex">
                                        <label style="white-space:pre;">Amount: </label>
                                        <input type="text" id="txtAmount" class="form-control" placeholder="000" />
                                    </div>
                                </div>
                                <div class="col-sm-1 form-group">
                                    <button type="button" style="height: 27px;margin-left: -19px;margin-top: 0px;" class="btn btn-block btn-success" onclick="InsertEstimate()" id="btnSubmit">Submit</button>
                                </div>
                                <div class="col-sm-1 form-group">
                                    <button onclick="openPopup()" class="consent-btn" style="height: 27px;margin-left: -32px;margin-top: -2px;">Calculate</button>
                                </div>
                                <div class="col-sm-1 form-group">
                                    <button onclick="Clear()" class="btn danger waves-effect" style="height: 27px;margin-left: -19px;margin-top: 0px;background-color:#FF6347;color:#fff">Clear</button>
                                </div>
                                <div class="col-sm-1 form-group">
                                    <button onclick="EstimatePrint()" class="btn bg-orange waves-effect" style="height: 27px;margin-left: -5px;margin-top: 0px;"><i class="fa fa-print"></i>&nbsp;Print</button>
                                </div>

                                <div id="popup" style="display: none;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);z-index: 999;">
                                    <div style=" background-color: #fefefe;margin: 20% auto;padding: 20px;border: 1px solid #888;width: 100%;max-width: 1231px;position: relative;display: grid;grid-template-columns: 1fr;grid-gap: 22px;margin-top: 57px;">
                                        <span onclick="closePopup()" style=" color: red;justify-self: end;font-size: 28px;font-weight: bold;margin-top: -24px;">&times;</span>
                                        <table id="tblEstimateCal" style="margin-top: -27px; border:1px solid #dddddd;">
                                            <thead>
                                                <tr>
                                                    <th style="width:1%">cmd</th>
                                                    <th style="width:20%">Categoty</th>
                                                    <th style="width:10%">Tariff/day</th>
                                                    <th style="width:10%">Consultation Charge/day</th>
                                                    <th style="width:10%">Nursing Charge/day</th>
                                                    <th style="width:10%">RMO/Intensivist charge/day</th>
                                                    <th style="width:10%">Diectician Charge</th>
                                                    <th style="width:10%">Daily Total</th>
                                                    <th style="width:9%"><input type="text" id="txtTotalDays" style="width:71px;text-align:center" placeholder="Days" onkeyup="InputValues()" /></th>
                                                    <th style="width:10%">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                        <button type="button" style="margin: 22px 0 0 0;margin-top: -14px; height: 26px;width: 56px;float:right;margin-left:450px" class="btn btn-xs btn-success" onclick="EstimateCalSub()" id="btnadd">Add</button>
                                        <div class="row">
                                            <div class="col-sm-12" style="margin-top: -32px;">
                                                <label style="margin-left:1080px"><b>Total :</b></label>
                                                <span id="txttotalSumval">  </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12" style="margin-top:7px;">
                                <div class="row">
                                    <div class="panel panel-primary" style="height:492px;width:100%;margin-top:-27px">
                                        <div class="col-md-12 form-group" style="margin-top: 3px;">
                                            <textarea class="form-control" id="txtTemplate1"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

