@{
    ViewBag.Title = "CaseSheet";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Areas/EMR/JsModule/CaseSheet.js?v1.1"></script>
<style>
    .Casesheet .fa {
        margin-top: 3px;
        color: #06a08b;
        font-size: 11px;
    }

    .Casesheet span {
        border: 1px solid #dfdfdf;
        float: right;
        background: #fff;
        border-radius: 30px;
        padding: 4px;
        width: 25px;
        height: 25px;
        text-align: center;
        color: #f00;
        margin: -4px 4px;
    }

    .Casesheet {
        background: #efefef;
        width: 100%;
        padding: 10px;
        display: block;
        margin-top: 6px;
        color: #3a3a3a;
    }

    .flex {
        display: flex;
        align-items: flex-end;
    }


    .custom-table {
        width: 100%;
        line-height: 29px;
        font-size: 12px;
    }

        .custom-table td {
            line-height: 24px;
        }

    .text-17 {
        font-size: 17px;
    }

    .scroll {
        width: 100%;
        background: #fff;
        overflow: overlay;
        max-height: 480px;
        display: block;
    }

    .panel-body {
        /*box-shadow: 1px 1px 10px #d2d2d2;*/
        border-radius: 10px;
        padding: 5px 3px 0px 3px;
        position: relative;
    }

    .ml15 {
        margin-left: 15px;
    }

    #filePath {
        margin-top: 10px;
        width: 100%;
        height: 422px;
        border: 1px solid #ddd;
    }

    .uploadSection {
        border: 1px solid #dcdcdc;
        margin-top: 11px;
        background: #f5f5f5dd;
        padding: 5px;
    }

    .btnPDF {
        width: 43%;
        height: 28px;
        border-radius: 0;
        margin: 0;
    }

    .loading {
        border-width: 2px;
        border-image: url(/images/loading.gif) 60;
    }

    .btnget {
        width: 45%;
        height: 26px;
        border-radius: 2px;
    }

    .panel-heading button {
        float: right;
        margin: -24px -1px;
    }
</style>
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="ml15">
                    <div class="">
                        <div class="panel">
                            <div class="panel-heading" style="background:#0076d0;padding: 4px;">
                                <h4 class="text-white" style="font-size: 15px;">Case Sheet Info</h4>
                            </div>
                            <div class="panel-body" style="height:85vh">
                                <div class="row" style="margin:5px 0">
                                    <div class="col-md-3" style="padding:0 3px">
                                        <label>From</label>
                                        <input type="date" id="txtFrom" class="form-control" />
                                    </div>
                                    <div class="col-md-4" style="padding:0 3px">
                                        <label>To</label>
                                        <div class="flex">
                                            <input type="date" id="txtTo" class="form-control" />
                                            <button class="btn btn-warning btnget" onclick="GetPatientInfo('GetPatientBetweenDate')"><i class="fa fa-sign-in">&nbsp;</i>Get</button>
                                        </div>
                                    </div>
                                    <div class="col-md-5" style="padding:0 3px">
                                        <label>IPD No</label>
                                        <div class="flex">
                                            <input type="text" value="2324-000109" id="txtIPDNo" class="form-control" placeholder="IPD No.." />
                                            <button class="btn btn-warning btnget" style="width: 33%;" onclick="GetPatientInfo('GetPatientInfo')"><i class="fa fa-sign-in">&nbsp;</i>Get</button>
                                        </div>
                                    </div>
                                </div>
                                <hr style="margin:5px 0" />
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <div class="scroll" style="max-height:64vh">
                                            <table id="tblPatientInfo" class="table table-bordered">
                                                <thead>
                                                    <tr>

                                                        <th>IPD No</th>
                                                        <th>Patient Name</th>
                                                        <th>Discharge Type</th>
                                                        <th>Admit Date</th>
                                                        @*
                                                        <th>Upload By</th>*@
                                                        <th>Discharge DateTime</th>
                                                        <th>CMD</th>
                                                        <th>CMD</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel">
                    <div class="panel-heading" style="background:#0076d0;padding: 4px;">
                        <h4 class="text-white" style="font-size: 15px;">Upload Case Sheet</h4>
                    </div>
                    <div class="panel-body" style="background:#fff;padding: 8px 5px;height:84vh">
                        <div class="col-md-12">
                            <table class="table-striped custom-table">
                                <tr>
                                    <td> <b>IPD No : </b><span id="txtPatientIPDNO">-</span></td>
                                    <td> <b>Patient Name. : </b><span id="txtPatientName">-</span></td>
                                </tr>
                                <tr>
                                    <td> <b>Admit Date : </b><span id="txtAdmitDate">-</span></td>
                                    <td> <b>Discharge DateTime : </b><span id="txtDischargeDateTime">-</span></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-7">
                            <div class="flex">
                                <label style="white-space:pre">File Rack: </label>
                                <select id="ddlFileRack" class="form-control"></select>
                                <button onclick="UpdateRackByIPDNo()" class="btn btn-success btnPDF pull-right" style="width:40%"><i class="fa fa-plus-circle">&nbsp;</i>Update</button>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <button onclick="$('#modalRackMaster').modal('show')" class="btn btn-primary btnPDF pull-right" style="width:70%"><i class="fa fa-plus-circle">&nbsp;</i>Create New Rack</button>
                        </div>
                        <div class="col-md-12">
                            <a href="#casesheetinfo" class="Casesheet" data-toggle="collapse">Patient Casesheet Info <span>0</span> <i class="fa fa-plus pull-right" data-col>&nbsp;</i></a>
                            <div class="collapse" id="casesheetinfo" style="max-height:150px;overflow:auto;">
                                <table id="tblCasesheetInfo" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Doc Name</th>
                                            <th>Rack Name</th>
                                            <th>Upload Date</th>
                                            <th>Upload By</th>
                                            <th>CMD</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="flex uploadSection">
                                <label style="white-space:pre">Choose File : </label>
                                <input type="file" id="uploadFile" accept=".pdf" class="form-control" style="border-radius: 0;border-color: #f39c12;" />
                                <img id="imgFile" class="hide" />
                                <button id="btnUpload" style="width:50%" onclick="UploadCaseSheet(this)" class="btn btn-warning btnPDF"><i class="fa fa-file-pdf-o">&nbsp;</i>Uplaod</button>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <iframe src="https://ik.imagekit.io/hnlpilvl5t/webapp_assets/no-preview.png" id="filePath"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalRackMaster" tabindex="-1" role="dialog" aria-labelledby="True">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="margin-top:10%;">
            <div class="panel-heading flex" style="background:#0076d0;padding:1px 5px;">
                <h5 class="text-white">Add New Rack Info</h5>
                <span data-dismiss="modal" class="btn-close">x</span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <label>Rack Name</label>
                        <input type="text" id="txtRackName" class="form-control border-imp" placeholder="Rack Name" autocomplete="off" />
                    </div>
                    <div class="col-md-7 form-group">
                        <label>Description</label>
                        <div class="flex">
                            <input type="text" id="txtDescription" class="form-control" placeholder="Description" autocomplete="off" />
                            <button id="btnSaveRack" onclick="InsertRackInfo()" class="btn btn-success btnPDF" style="width: 21%;margin-left: 5px;">Save</button>
                        </div>
                    </div>
                    <div class="col-md-12" style="height:400px;overflow:auto;border:1px solid #009688;padding: 0;">
                        <table id="tblRackInfo" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:1%">Action</th>
                                    <th>Rack Name</th>
                                    <th>Description</th>
                                    <th>Cr. Date</th>
                                    <th style="width:1%">cmd</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modalProcess" id="CaseSheetDetailsProp" tabindex="-1" role="dialog" aria-labelledby="True">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="margin-top:10%; width:120%; margin-left:-10%;">
            <div class="panel panel-primary">
                <div class="panel-heading" style="padding:3px">
                    <table style="width:70%;font-size:13px;">

                        <tr>
                            <td style="text-align:left;width:15%;"><label style="color:#fff;">IPDNO &nbsp;:</label></td>
                            <td style="text-align:left;width:20%;"><label id="txtipno" style="color: #fff;"></label></td>
                            <td style="text-align:left;width:25%;"><label style="color:#fff;">Patient Name &nbsp;:</label></td>
                            <td style="text-align:left;width:40%;"><label id="txtpatient" style="color:#fff;"></label></td>
                        </tr>
                    </table>
                    <button data-dismiss="modal" class="btn btn-danger btn-xs">x</button>

                </div>
            </div>
            <div class="modal-body" style="margin-top:-4%;">

                <div class="row">
                    <div class="col-md-5">
                        <label>Logic</label>
                        <div class="flex">
                            <select id="ddlLogic" class="form-control"></select>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Search Name</label>
                        <div class="flex">
                            <input type="text" id="txtsearchName" class="form-control" />
                            <button class="btn btn-success" style="width:30%;border:none;margin-left:12px;height:27px;" onclick="GetAlldataList()"><i class="fa fa-sign-in">&nbsp;</i>Get</button>
                        </div>
                    </div>
                </div>

                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="section" style="height:175px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive" style="height:150px;overflow-y:auto; overflow-x:auto;border:1px solid #337ab7; margin-top: 12px;">
                                        <table class="table table-bordered" id="tblCaseDetails">
                                            <thead>
                                                <tr>

                                                    <th style="text-align:center;width:20%">Code</th>
                                                    <th style="text-align:left;width:70%">Description</th>
                                                    <th style="text-align:center;width:10%">CMD</th>

                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive" style="height:150px;overflow-y:auto; overflow-x:auto;border:1px solid #337ab7; margin-top: 12px;">
                                        <table class="table table-bordered" id="tblInsertList">
                                            <thead>
                                                <tr>

                                                    <th style="text-align:center;width:20%">Code</th>
                                                    <th style="text-align:left;width:70%">Description</th>
                                                    <th style="text-align:center;width:10%">Status</th>

                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>