<script src="~/Areas/IPD/JsModule/BillingView/_CancelReport.js"></script>
<style>
    .flex {
        display: flex !important;
        align-items: center;
    }

    hr {
        margin-top: 35px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }
    .fileinput.input-group {
        display: flex;
    }

    .text-17 {
        font-size: 17px;
    }

    .btn-flat {
        padding: 2px;
        border: none;
    }

    .scroll {
        width: 100%;
        background: #fff;
        overflow: overlay;
        max-height: 450px;
        display: block;
    }

    .panel-body {
        /*box-shadow: 1px 1px 10px #d2d2d2;*/
        border-radius: 10px;
        padding: 5px 5px 0px 10px;
        position: relative;
    }
    #tblCancelReport thead th{
        padding:4px;
    }
    .entryBy {
        padding: 5px 0px;
        /*color: #c37700;*/
        color: #d52525;
        font-size: 11px;
        cursor: pointer;
    }

    .entryByName {
        display: none;
        position: absolute;
        background: #f3eab6;
        border: 1px solid #f3eab6;
        border-radius: 3px;
        padding: 3px 5px;
        /*left: 30%;*/
        left: 24%;
        margin-top: -2px;
        z-index: 1111;
    }
   
</style>
<div class="row" style="padding:5px">
    <div class="col-md-12">
        <div class="table-responsive vertiscrl" style="margin-bottom:0;overflow:auto;height:470px;border: 1px solid #2478a9;">
            <table id="tblCancelReport" class="table table-bordered">
                <thead style="background: #00a65a;color: #fff;">
                    <tr>
                        <th style="width:11%">Tnxid</th>
                        <th style="width:12%">Date</th>
                        <th style="width:15%">Item Name</th>
                        <th style="width:10%;text-align:center">Qty</th>
                        <th style="width:10%;text-align:center">Amount</th>
                        <th style="width:10%;text-align:center">Tax</th>
                        <th style="width:10%;text-align:center">Net</th>
                        <th style="width:10%;">Cancel By</th>
                        <th style="width:12%">Cancel Date</th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    
</div>
