
@{
    ViewBag.Title = "IPDAdvancePayment";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/IPD/JsModule/IPD/IPDAdvancePayment.js"></script>
<style>
    .col-md-3 {
        display: none;
    }

    .title {
        background: #2478a9;
        color: #fff;
        padding: 3px 63px 2px 6px;
        top: 3px;
        position: relative;
    }

    .category {
        font-weight: bold;
        background: #fafcfe;
        display: flow-root;
        border: 1px solid #2478a9;
    }

    .title:after {
        position: absolute;
        top: 0px;
        right: 0px;
        content: '';
        border-right: -2px solid transparent;
        border-left: 25px solid transparent;
        border-top: 25px solid #fff;
    }

    .section-header {
        background: #fff6ed00;
        min-height: 215px;
        max-height: 215px;
        padding: 10px;
        margin-bottom: 3px;
        border: 1px solid #2478a9;
    }

    #tblPrevInfo th, #tblPrevInfo td {
        border: none;
        padding: 3px 0;
        font-size: 13px;
    }

    #tblPrevInfo tr th {
        font-weight: bold;
        text-align: left;
        width: 17%;
    }

    #tblPrevInfo td {
        text-align: left;
    }

    .block {
        pointer-events: none;
        opacity: 0.5;
    }

    #tblPaymentDetails input[type=text], .AdvanceSection select {
        border: 1px solid #c3c3c3 !important;
        height: 20px !important;
        padding: 2px;
    }

    .AdvanceSection .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #e5e1e1;
        border-radius: 1px;
        height: 22px;
        margin-bottom: 2px;
    }

    #tblPaymentDetails tbody tr:not(.pay) {
        display: none;
    }

    .AdvanceSection .title1 {
        background: #cfcfcf;
        padding: 1px 4px;
        width: 100%;
    }

    .PaymentInfo {
        border: 1px solid #cfcfcf;
        /* padding: 0; */
        margin: 5px;
        width: 98%;
        padding: 1px;
    }

    .advnc-amount-section {
        border: 1px solid #c0d7e5;
        height: 65px;
        background: #d0eeff;
        margin: -5px 5px 5px;
        padding: 5px;
    }

        .advnc-amount-section .col-md-3 {
            padding: 0 2px;
            pointer-events: none;
        }

        .advnc-amount-section .form-control {
            border: 0.5px solid #7a7a7a;
            text-align: center;
            font-size: 14px;
            pointer-events: none;
            font-weight: bold;
            background: #e1e1e1;
        }

    .patientInfo td {
        border-top: none !important;
        padding: 3px !important;
        font-size: 13px;
        background: #f6f6f6;
    }

    .tblGroup {
        background: #f6f6f6;
        border: 1px solid #d3d3d3;
        margin: 12px 9px;
        width: 98%;
    }
</style>
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-right: 0;">
                <div class="ml15" style="margin-right: 5px;">
                    <div class="category"><span class="title" style="top:0;padding:0px 50px 2px 6px">Advance Payment Information</span></div>
                    <div class="section-header" style="min-height: 400px;">
                        <div class="row basicInfo">
                            <div class="col-md-2" style="width:20%">
                                <label>IPD No.</label>
                                <div style="display:flex">
                                    <input type="text" id="txtIPDNo" class="form-control" style="border-color: #06a08b;border-radius:0" placeholder="IPD No." />
                                    <button class="btn btn-primary pull-right" style="height: 28px;border-radius:0;margin:0px;width:35%;" onclick="GetInfo()" id="btnGet"><i class="fa fa-sign-in">&nbsp;</i>Get</button>
                                </div>
                            </div>
                            <div class="col-md-11 tblGroup">
                                <table class="table patientInfo" style="margin:0">
                                    <tr>
                                        <td><b>UHID</b></td>
                                        <td><b>:</b></td>
                                        <td id="txtUHID"></td>
                                        <td>&nbsp;</td>
                                        <td style="width:100px"><b>Patient Name</b></td>
                                        <td><b>:</b></td>
                                        <td id="txtPatientName"></td>
                                        <td>&nbsp;</td>
                                        <td><b>Ward/ Bed</b></td>
                                        <td><b>:</b></td>
                                        <td id="txtRoomFullName"></td>
                                    </tr>
                                    <tr>
                                        <td style="width:65px"><b>Age Info</b></td>
                                        <td><b>:</b></td>
                                        <td id="txtAgeInfo"></td>
                                        <td>&nbsp;</td>
                                        <td><b>Doctor Name</b></td>
                                        <td><b>:</b></td>
                                        <td id="txtDoctor"></td>
                                        <td>&nbsp;</td>
                                        <td style="width:100px"><b>Admit Date</b></td>
                                        <td><b>:</b></td>
                                        <td id="txtAdmitDate"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <div class="row AdvanceSection">
                                    <div class="col-md-12">
                                        <label><input type="radio" checked name="Advance-type" value="Advance" data-adv="Advance" />&nbsp;Advance Amount</label>
                                        <label><input type="radio" name="Advance-type" value="Advance" data-adv="AdvanceReturn" />&nbsp;Advance Return</label>
                                        <button class="btn btn-primary pull-right" id="btnGenerateBill" onclick="PatientAdvance()" style="margin:0px 10px;"><i class="fa fa-sign-in">&nbsp;</i>Submit</button>
                                    </div>
                                    <div class="col-md-12 PaymentInfo">
                                        <label class="title1">Payment Info</label>
                                        <div class="form-group">
                                            <span style="width:70%">
                                                <label>
                                                    <input type="checkbox" onkeyup="removeMinus(this)" name="PaymentMode" class="cash" value="Cash" checked />Cash
                                                </label>
                                                <label>
                                                    <input type="checkbox" onkeyup="removeMinus(this)" name="PaymentMode" value="Cheque" />Cheque
                                                </label>
                                                <label>
                                                    <input type="checkbox" onkeyup="removeMinus(this)" name="PaymentMode" value="Swipe Card" />Swipe Card
                                                </label>
                                                <label>
                                                    <input type="checkbox" onkeyup="removeMinus(this)" name="PaymentMode" value="NEFT/RTGS/Online" />NEFT/RTGS/Online
                                                </label>
                                            </span>
                                        </div>
                                        <div class="paymentSection">
                                            <table id="tblPaymentDetails" class="table table-bordered" style="margin-bottom:0">
                                                <thead>
                                                    <tr>
                                                        <th style="width:15%;white-space:nowrap">Payment Mode</th>
                                                        <th style="width:13%">Amount</th>
                                                        <th>Currency</th>
                                                        <th style="width:25%">Bank Name</th>
                                                        <th style="width:13%">Ref No.</th>
                                                        <th>Machine</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="pay">
                                                        <td>Cash</td>
                                                        <td><input type="text" data-int class="form-control" value="0" /></td>
                                                        <td>INR</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Cheque</td>
                                                        <td><input type="text" class="form-control" value="0" /></td>
                                                        <td>INR</td>
                                                        <td><select class="form-control BankName"></select></td>
                                                        <td><input type="text" class="form-control" /></td>
                                                        <td>-</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Swipe Card</td>
                                                        <td><input type="text" class="form-control" value="0" /></td>
                                                        <td>INR</td>
                                                        <td><select class="form-control BankName"></select></td>
                                                        <td><input type="text" class="form-control" /></td>
                                                        <td>
                                                            <select class="form-control MachineName"></select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>NEFT/RTGS/Online</td>
                                                        <td><input type="text" class="form-control" value="0" /></td>
                                                        <td>INR</td>
                                                        <td><select class="form-control BankName"></select></td>
                                                        <td><input type="text" class="form-control" /></td>
                                                        <td>-</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row AdvanceSection">
                                    <div class="col-md-12">
                                        <label>Advance Info Details</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="table-responsive vertiscrl" style="min-height: 230px;overflow:auto;height:112px;margin:6px 0;border: 1px solid #2478a9;">
                                            <table id="tblPaymentInfo" class="table table-bordered">
                                                <thead style="background: #00a65a;color: #fff;">
                                                    <tr>
                                                        <th style="width:1px;">#</th>
                                                        <th>Date</th>
                                                        <th class="text-right">Amount</th>
                                                        <th>Pay Mode</th>
                                                        <th>Remark</th>                                                      
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
