
@{
    ViewBag.Title = "TPAApproval";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style>
    .row.colnospace [class*='col-'] {
        padding-right: 2px;
        padding-left: 2px;
    }

    .flex {
        display: flex;
    }

        .flex input[type=file] {
            width: 166px;
        }

    .colnospace .col-md-2 {
        width: 13%;
    }
</style>
<script src="~/Areas/IPD/JsModule/IPD/TPAApproval.js"></script>
<div id="page-content">
    <div class="container">
        <div class="panel-body">
            <div class="row colnospace" style="background-color:#bddeff;margin-bottom:10px;height:60px;padding-top: 5px;">
                <div class="col-md-2">
                    From Date
                    <input type="date" id="txtSearchFrom" class="form-control" placeholder="from : dd-mm-yyyy" />
                </div>
                <div class="col-md-2">
                    To Date
                    <input type="date" id="txtSearchTo" class="form-control" placeholder="to : dd-mm-yyyy" />
                </div>
                <div class="col-md-3">
                    Panel Name
                    <select id="ddlPanel" class="form-control border-imp"><option>Select</option></select>
                </div>
                <div class="col-md-1">
                    <br />
                    <button id="btnAllPatient" onclick="AdmittedPatientList('BillInfoForApprovalBetweenDate')" class="btn btn-success"><i class="fa fa-search">&nbsp;</i>Search</button>
                </div>
                <div class="col-md-2">
                    IPD No
                    <div class="flex">
                        <input type="text" id="txtIPDNo" style="border-color: #00a65a;border-radius: 0;" class="form-control" placeholder="IPD No." />
                        <button id="btnByIPDNo" style="width:40%;height: 28px;border-radius: 0;margin: 0;" onclick="AdmittedPatientList('BillInfoForApprovalByIPDNo')" class="btn btn-success">Get</button>
                    </div>
                </div>
            </div>
            <div class="row colnospace">
                <div class="scroll" style="height:38vh;overflow:auto">
                    <table id="tblServiceRegister" class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width:1%">CMD</th>
                                <th>IPD No</th>
                                <th>Bill No</th>
                                <th>Patient Name</th>
                                <th>Panel Name</th>
                                <th>Bill Date</th>
                                <th class="text-right">Total Amount</th>
                                <th class="text-right">Total Discount</th>
                                <th class="text-right">Net Payable</th>
                                <th class="text-right">Received</th>
                                <th class="text-right">Balance</th>
                                <th style="width:1%">CMD</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="row colnospace" style="background-color:#bddeff;margin-bottom:10px;height:60px;padding-top: 5px;">
                <div class="col-md-2">
                    <label>Net Amount</label>
                    <input type="text" id="txtNetAmt" class="form-control" style="font-size:15px;font-weight:bold;" readonly="readonly" />
                </div>
                <div class="col-md-2">
                    <label>Advance Amount</label>
                    <div class="flex">
                        <input type="text" id="txtAdvanceAmt" class="form-control" style="font-size:15px;font-weight:bold" readonly="readonly" />
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Balance Amount</label>
                    <input type="text" id="txtBalanceAmt" class="form-control" style="font-size:15px;font-weight:bold" readonly="readonly" />
                </div>

                <div class="col-md-4">
                    <label>Patient Name</label>
                    <input type="text" id="txtPatientName" class="form-control" style="font-size:12px;font-weight:bold" readonly="readonly" />
                </div>
            </div>
            <div class="row colnospace" style="height:35px;">
                <div class="col-md-4">
                    <div style="display:flex;align-items: baseline;">
                        <label style="white-space:pre">Approval Type :&nbsp;</label>
                        <select id="ddlApprType" class="form-control border-imp" style="width: 90px !important;">
                            <option value="Select" selected="selected">Select</option>
                            @*<option value="Routine">Routine</option>*@
                            <option value="Final-Approval" selected>Final-Approval</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row colnospace" style="background-color:#bbc0c5;margin-bottom:10px;height:60px;padding-top: 5px;">
                <div class="col-md-1">
                    Approval Date
                    <input type="date" id="txtApprDate" class="form-control" placeholder="from : dd-mm-yyyy" />
                </div>
                <div class="col-md-3">
                    Insurance Company
                    <select id="ddlInsuranceList" class="form-control border-imp" style="width: 90px !important;"></select>
                </div>
                <div class="col-md-1">
                    Claim No
                    <input type="text" class="form-control" id="txtClaimNo" value="-" style="font-size:10pt" />
                </div>
                <div class="col-md-1">
                    Approval
                    <input type="text" class="form-control" id="txtAmount" value="0" placeholder="Amount" style="font-size:10pt" />
                </div>
                <div class="col-md-1">
                    Co Pay
                    <input type="text" class="form-control" id="txtCoPayAmt" value="0" placeholder="Amount" style="font-size:10pt" />
                </div>
                <div class="col-md-1">
                    Discount
                    <input type="text" class="form-control" id="txtDiscount" value="0" placeholder="Amount" style="font-size:10pt" />
                </div>
                <div class="col-md-2" style="width:16%">
                    Remark
                    <input type="text" class="form-control" id="txtRemark" value="-" />
                </div>
                <div class="col-md-2" style="width:16%">
                    <br />
                    <button id="btnSaveTPAApprovalAmount" onclick="AddTPApprovalEntry()" class="btn btn-warning"><i class="fa fa-save">&nbsp;</i>Add</button>
                    <button id="btnSaveTPAApprovalAmount" onclick="IPD_TPApprovalEntry()" class="btn btn-success"><i class="fa fa-sign-in">&nbsp;</i>Submit</button>
                </div>
            </div>
            <div class="row colnospace">
                <div class="scroll" style="height:200px">
                    <table id="tblTpaApprInfo" class="table table-bordered" style="font-size:12px;">
                        <thead>
                            <tr>
                                <th style="width:1%">cmd</th>
                                <th>Insurance Company</th>
                                <th>ApprovalType</th>
                                <th>Claim No</th>
                                <th>Amount</th>
                                <th>Co Pay</th>
                                <th>Discount</th>
                                <th>Remarks</th>
                                <th>Approval Date</th>
                                <th style="width:1%">cmd</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
