<script src="~/Areas/IPD/JsModule/NursingView/_RoomClearance.js"></script>
<style>

    .custom-table {
        width: 100%;
        line-height: 29px;
        font-size: 12px;
    }
    .selected {
        background: DodgerBlue !important;
        color: #fff;
    }
    .panel-body {
        padding: 15px 15px 0px 20px;
        position: relative;
    }
    hr {
        margin-top: 35px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }
    .example-box-wrapper {
        margin: 10px 20px;
    }
</style>
<div class="example-box-wrapper">
    <div class="row">
        <div class="col-md-5">
            <label>Room Status</label>
            <div style="display:flex">
                <select class="form-control" id="ddlRoomStatus">
                    <option value="0">Select</option>
                    <option value="Housekeeping">Housekeeping </option>
                    <option value="Vacant">Vacant </option>
                </select>
                <button class="btn-success" type="submit" onclick="UpdateRoomStatus()" id="btnUpdate" style="width:30%;border:none;height:27px;margin-left: 15px;"><i class="fa fa-search">&nbsp;</i>Update</button>
            </div>
        </div>
    </div>
   <hr />


</div>
