<script src="~/Areas/IPD/JsModule/NursingView/_RoomShiftLog.js"></script>
<style>
    .example-box-wrapper {
        margin: 10px 10px;
    }

    .selected {
        background: DodgerBlue !important;
        color: #fff;
    }

    .panel-body {
        /*padding: 15px 15px 0px 20px;*/
        padding: 5px 3px 0px 3px;
        position: relative;
    }

    hr {
        /*margin-top: 35px;*/
        margin-bottom: -10px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .example-box-wrapper {
        /*margin: 10px 10px;*/
        margin: 2px 10px;
    }

    #tblRoomshiftedLog tbody td {
        font-size: 12px;
       
    } 
    #tblRoomshiftedLog thead th{
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        padding:4px;
    }

    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
    }

  
</style>
<div class="example-box-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive" style="height:470px;overflow-y:auto; overflow-x:auto;border:1px solid #2478a9;width:99%">
                <table id="tblRoomshiftedLog" class="table table-bordered" style="margin-bottom:6px;white-space: nowrap;">
                    <thead>
                        <tr>
                            <th style="width:15%;">RoomType</th>
                            <th style="width:15%;">RoomFullName</th>
                            <th style="width:15%;">StayFrom</th>
                            <th style="width:15%;">StayTo</th>
                            <th style="width:15%;">RoomBillingCategory</th>
                            <th style="width:15%">EmployeeName  </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
 </div>


