

@{
    ViewBag.Title = "ReferralDayBook";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/Referral/JsModule/ReferralDayBook.js"></script>
<style>
    .panel {
        margin-bottom: 2px !important;
        margin-left: 2px !important;
    }

    .panel-heading {
        padding: 1px 5px;
    }

    .panel-body {
        padding: 2px 1px;
        margin-top: 1px;
    }



    .bn {
        margin: 0px;
        font-size: 10pt;
        padding: 0px 12px;
        border-radius: 0;
        height: 32px;
        /*margin-top: 11%;*/
    }

    .btn-add {
        border: none;
        padding: 6px;
        margin-left: 1px;
    }

    .btn {
        border: none;
        padding: 1px 9px;
        font-size: 13px;
        margin-bottom: 2px;
    }

    #tblCheckBillStatus thead th {
        padding: 4px;
    }

    #tblCheckBillStatus tbody td {
        font-size: 12px;
        padding: 2px;
    }

    .widthcol {
        /*width: 150px;*/
        width: 132px;
    }

    .flex {
        display: flex !important;
    }

    hr {
        /*margin-top: 35px;*/
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid black;
        margin-top: 6px;
    }

    .nav-tabs a {
        background: #e8e8e8;
    }

    .section {
        margin-top: 5px;
        padding: 1px;
        border: 1px solid #2478a9;
        /*height: 370px;*/
        height: 400px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .title {
        background: #2478a9;
        color: #fff;
        padding: 2px 5px;
        margin: 0;
        width: 100%;
    }

    #tblReport thead th {
        padding: 2px;
    }

    #tblReport tbody td {
        padding: 2px;
    }

    .btn-close {
        right: 5px;
        opacity: 100%;
        position: absolute;
        color: #fff !important;
        font-weight: bold;
        font-size: 12px;
        padding: 0px 6px;
        background: #b92c02;
        height: 16px;
        border-radius: 2px;
        cursor: pointer;
    }
</style>

<div id="page-content">
    <div class="col-lg-12">
        <div class="row">
            <div class="ml15">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h5>Referral Day Book</h5>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-1">
                                <label>IP/OP Type</label>
                                <select id="ddlIPOPtype" class="form-control">
                                    <option value="OPD" selected>OPD</option>

                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>From</label>
                                <input type="date" class="form-control" id="txtfromdate" />
                            </div>
                            <div class="col-md-2">
                                <label>To</label>
                                <input type="date" class="form-control" id="txttodate" />
                            </div>
                            <div class="col-md-2">
                                <label>Pro</label>
                                <select id="ddlProList" class="form-control"></select>
                            </div>
                            <div class="col-md-5">
                                <label>Referral</label>  <button id="btnSaveReferal" style="height:19px;width:50%;border-radius:10px;" class="btn btn-warning bn" onclick="ReferralOpen()"><i class="fa fa-arrow-down"></i>&nbsp;Referral List</button>
                                <div class="flex">
                                    <span style="width:60%">
                                        <select id="ddlReferral" class="form-control"></select>
                                    </span>
                                    <button id="btnsubmit" style="margin-left:20px;height:28px;" class="btn btn-success bn" onclick="GetDataDayBook()"><i class="fa fa-search"></i>&nbsp;Get</button>
                                    <button id="btnExecl" style="margin-left:10PX;height:28px;" class="btn btn-warning bn" onclick="ExcelDayBook()"><i class="fa fa-search"></i>&nbsp;Execl</button>

                                </div>
                            </div>

                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive" style="height:425px;border:#0076d0 1px solid;">
                                    <table id="tblReport" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width:8%">IPOPType</th>
                                                <th style="width:15%">ProName</th>
                                                <th style="width:10%">UHID</th>
                                                <th style="width:30%"><input type="text" id="txtseachEmer" onkeyup="searchTable('txtseachEmer','tblReport')" class="form-control" placeholder="search by Patient_name" style="height:22px;margin-bottom:2px;" /></th>
                                                <th style="width:10%">IPOP No</th>
                                                <th style="width:10%">Date</th>
                                                <th style="text-align:center;width:8%">Amount</th>
                                                <th style="text-align:center;width:8%">Cmd</th>

                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div style="width:100%; background-color:#61fb8a6b;height:24px; margin-top: -20px;">
                                    <div class="flex">
                                        <div class="col-md-11">
                                            <label style="float:right;margin-right: 60px;"><b>Grand Total</b> &nbsp;:</label>
                                        </div>
                                        <div class="col-md-1">
                                            <label id="txttotal" style="float: left;font-size:16px;margin-left: -45px;"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!---Referral Modal---->
    <div class="modal fade" id="modalReferral" tabindex="-1" role="dialog" aria-labelledby="True">
        <div class="modal-dialog modal-md">
            <div class="modal-content" style="margin-top:10%;">
                <div class="panel-heading flex" style="background:#0076d0;padding:1px 5px;">
                    <h5 class="text-white">Add New Referral</h5>
                    <span data-dismiss="modal" class="btn-close">x</span>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group flex">
                                <span style="width:26%"><b>Search</b></span>
                                <span style="width:4%"><b>:</b></span>
                                <span style="width:60%">
                                    <input type="text" id="txtSearchReferral" class="form-control text-uppercase border-imp" placeholder="Search Referral" autocomplete="off" />
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12" style="height:500px;overflow:auto;border:1px solid #009688;padding: 0;">
                            <table id="tblReferral" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:1%">Action</th>
                                        <th style="white-space:nowrap">Referral Code</th>
                                        <th>Referral Name</th>
                                        <th>Mobile No</th>
                                        <th>Degree</th>
                                        <th>Address</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!---Referral Modal2---->
    <div class="modal fade" id="modalDayBook" tabindex="-1" role="dialog" aria-labelledby="True">
        <div class="modal-dialog modal-md">
            <div class="modal-content" style="margin-top:10%;width: 120%;">
                <div class="panel-heading flex" style="background:#0076d0;padding:5px 5px;">
                    <h5 class="text-white">ReferralDayBook Details</h5>
                    <span data-dismiss="modal" class="btn-close">x</span>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive" style="border:#0076d0 1px solid;">
                                <table id="tblDayBookInfo" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width:55%;">Particulars</th>
                                            <th style="width:10%;text-align:center">Qty</th>
                                            <th style="width:15%;text-align:center">Rate</th>
                                            <th style="width:15%;text-align:center">Discount</th>
                                            <th style="width:15%;text-align:center">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div style="width:100%; background-color:#61fb8a6b;height:24px; margin-top: -20px;">
                                <div class="flex">
                                    <div class="col-md-11">
                                        <label style="float:right;"><b>Grand Total</b> &nbsp;:</label>
                                    </div>
                                    <div class="col-md-1">
                                        <label id="txttotal1" style="float: left;font-size:16px;"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

