<script src="~/Areas/IPD/JsModule/NursingView/_ApacheSofaScore.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    #formul {
        top: 5px;
        position: absolute;
        width: 690px;
        height: 600px;
        z-index: 1;
        left: 20px;
    }

    label input[type=text] {
        height: 26px;
    }

    #droit table td {
        background: #f3f3f3;
        padding: 6px;
    }

    #droit {
        position: absolute;
        width: 320px;
        height: auto;
        z-index: 1;
        margin-left: 350px;
        right: 0px;
        top: 0px;
    }

    #gauch {
        position: absolute;
        width: 320px;
        height: auto;
        z-index: 2;
        padding-right: 25px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-right-style: solid;
        border-top-color: #999999;
        border-right-color: #999999;
        border-bottom-color: #999999;
        border-left-color: #999999;
        left: 0px;
        top: 0px;
    }

    #tblAdjustInfo select {
        width: 100%;
    }

    #aagrad {
        display: none;
        margin: 20px;
        border: 1px solid #999999;
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: #669999;
        z-index: 6;
    }
</style>
<div class="row component-section">
    <div class="col-md-6">
        <form id="apa" name="apa">
            <div id="formul">
                <div id="droit">
                    <table width="100%" border="0">
                        <tbody>
                            <tr>
                                <td><span class="whitestyle">APACHE II Score</span></td>
                                <td>
                                    <label style="display:flex">
                                        <input name="sco" type="text" id="sco" size="5">
                                        <span class="whitestyle">&nbsp;/71</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="whitestyle">Mortality Rate</span></td>
                                <td>
                                    <label style="display:flex">
                                        <input name="mor" type="text" id="mor" size="5">
                                        <span class="whitestyle">&nbsp;%</span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="border-top:1px solid #ddd;border-bottom:1px solid #ddd;margin:5px 0;padding:5px 0;">
                        <button type="button" name="button" id="button" class="btn btn-success pull-right" onclick="apachcalc()"><i class="fa fa-sign-in">&nbsp;</i>Calculate</button>
                        <button type="button" name="button" id="button" class="btn btn-danger pull-right" style="margin-right: 65px;" onclick="InsertApacheSofaScore()"><i class="fa fa-sign-in">&nbsp;</i>Submit</button>
                        <button type="button" name="button" id="button" class="btn btn-warning" onclick="PrintApacheSofaScore()"><i class="fa fa-print">&nbsp;</i>Print</button>
                    </p><br />
                    <table id="tblAdjustInfo" width="100%" border="0">
                        <tbody>
                            <tr>
                                <td>
                                    <label>
                                        Nonoperative
                                        <input type="radio" name="adj" id="adj2" value="1" onclick="defadjust()">
                                    </label>
                                    <br>
                                    <label></label>
                                </td>
                                <td id="tab1">
                                    <label></label>
                                    <label>
                                        <select name="sys" id="sys" onchange="defmed()">
                                            <option selected="selected">System</option>
                                            <option>Respiratory</option>
                                            <option>Cardiovascular</option>
                                            <option>Neurological</option>
                                            <option>Digestive</option>
                                            <option>Metabolic</option>
                                            <option>Renal</option>
                                            <option>Trauma</option>
                                            <option>Other</option>
                                        </select>
                                    </label>
                                    <br>
                                    <select name="defsys" id="defsys"></select>
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label></label>
                                    Postoperative<br />
                                    <label>
                                        <input type="radio" name="adj" id="adj2" value="2" onclick="defadjust()">
                                    </label>
                                    Elective
                                    <label>
                                        <input type="radio" name="adj" id="adj2" value="3" onclick="defadjust()">
                                    </label>
                                    Urgent <br>
                                    <label></label>
                                    <label></label>
                                </td>
                                <td id="tab2">
                                    <label></label>
                                    <label>
                                        <select name="typ" id="typ" onchange="defchir()">
                                            <option selected="selected">System</option>
                                            <option>Respiratory</option>
                                            <option>Cardiovascular</option>
                                            <option>Neurological</option>
                                            <option>Digestive</option>
                                            <option>Metabolic</option>
                                            <option>Renal</option>
                                            <option>Trauma</option>
                                        </select>
                                    </label>
                                    <br>
                                    <select name="deftyp" id="deftyp"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <p class="text-center">
                        <button type="button" class="btn btn-warning" onclick="adjucalc()"><i class="fa fa-sign-in">&nbsp;</i>Adjust</button>
                    </p>
                    <table width="100%" border="0">
                        <tbody>
                            <tr>
                                <td bgcolor="#660000"><span class="whitestyle">Adjusted Mortality Rate</span></td>
                                <td bgcolor="#660000" style="display:flex">
                                    <input name="aju" type="text" id="aju" size="5">
                                    <span class="whitestyle">&nbsp;%</span>
                                </td>
                            </tr>
                            <tr class="hide">
                                <td><span class="whitestyle">Adjusted Mortality Rate</span></td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="gauch">
                    <table width="100%" border="0">
                        <tbody>
                            <tr>
                                <td colspan="2" valign="top">Temperature (°F)</td>
                                <td valign="top">
                                    <label>
                                        <input name="tem" type="text" id="tem" value="37" size="5">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="top">MAP (mmHg)</td>
                                <td valign="top">
                                    <label>
                                        <input name="pam" type="text" id="pam" value="70" size="5">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="top">HR (/min)</td>
                                <td valign="top">
                                    <label>
                                        <input name="fc" type="text" id="fc" value="80" size="5">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="top">RR (/min)</td>
                                <td valign="top">
                                    <label>
                                        <input name="fr" type="text" id="fr" value="15" size="5">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <label>
                                        <select name="fio" id="fio" onchange="defoxy()">
                                            <option value="a">FiO2&gt;=50%</option>
                                            <option value="b">FiO2&lt;50%</option>
                                        </select>
                                    </label>
                                </td>
                                <td width="25%" align="right" valign="top" id="oxyvar">AaDO2 :&nbsp;</td>
                                <td valign="top" style="display:flex">
                                    <input name="oxy" type="text" style="width:65%;margin-bottom:6px;" id="oxy" value="150" size="5">
                                    <a href="Javascript: void(0)" onclick="Javascript: gradapp()" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('gradlink','','../Img/grad.gif',1)"><img src="https://intensivecarenetwork.com/Calculators/Img/grad2.gif" name="gradlink" width="17" height="17" border="0" id="gradlink"></a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="top">
                                    <label>
                                        <select name="aci" id="aci" onchange="defacid()">
                                            <option value="1">Arterial pH</option>
                                            <option value="2">HCO3-</option>
                                        </select>
                                    </label>
                                </td>
                                <td valign="top">
                                    <label>
                                        <input name="pha" type="text" id="pha" value="7.4" size="5">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="top">Na+ (mEq/L)</td>
                                <td valign="top">
                                    <label>
                                        <input name="nas" type="text" id="nas" value="140" size="5">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="top">K+ (mEq/L)</td>
                                <td valign="top">
                                    <label>
                                        <input name="kas" type="text" id="kas" value="4" size="5">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="top">
                                    Creatinine (mg/dL)
                                    <label></label>
                                </td>
                                <td valign="top">
                                    <label>
                                        <input name="cre" type="text" id="cre" value="1" size="5">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="top">ARF</td>
                                <td valign="top">
                                    <label>
                                        <input type="radio" name="arf" id="arf2" value="Y" checked="checked">
                                    </label>
                                    Yes
                                    <label>
                                        <input type="radio" name="arf" id="arf2" value="N">
                                    </label>
                                    No
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="top">Ht (%)</td>
                                <td valign="top">
                                    <label>
                                        <input name="hto" type="text" id="hto" value="40" size="5">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="top">WBC (x1000/mm3)</td>
                                <td valign="top">
                                    <label>
                                        <input name="wbc" type="text" id="wbc" value="10" size="5">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="top">Glasgow (/15)</td>
                                <td valign="top">
                                    <label>
                                        <input name="gla" type="text" id="gla" value="15" size="5">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="top">Age (ans)</td>
                                <td valign="top">
                                    <label>
                                        <input name="age" type="text" id="age" value="40" size="5">
                                    </label>
                                </td>
                            </tr>
                            <tr>

                                <td colspan="2" valign="top">
                                    Chronic Disease<br>
                                    <label>
                                        <input type="radio" name="mal" id="mal2" value="o" onclick="selmal()" checked="checked">
                                        Yes
                                        <input type="radio" name="mal" id="mal2" value="n" onclick="selmal()">
                                        No
                                    </label>
                                </td>
                                <td valign="top">
                                    <label>
                                        <select name="sit" id="sit">
                                            <option value="0" selected="selected"></option>
                                            <option value="5">Urgent Postop</option>
                                            <option value="2">Elective Postop</option>
                                            <option value="5">Medical</option>
                                        </select>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div id="aagrad">
                    <table width="55%" border="0">
                        <tbody>
                            <tr>
                                <td class="notestyle whitestyle">PaO2 (mmHg)</td>
                                <td class="notestyle"><input name="pao" type="text" id="pao" size="3"></td>
                            </tr>
                            <tr>
                                <td class="notestyle whitestyle">PaCO2 (mmHg)</td>
                                <td class="notestyle"><input name="paco" type="text" id="paco" size="3"></td>
                            </tr>
                            <tr>
                                <td class="notestyle whitestyle">Respiratory Quotient</td>
                                <td class="notestyle"><input name="quo" type="text" id="quo" value="0.8" size="3"></td>
                            </tr>
                            <tr>
                                <td class="notestyle whitestyle">Atmospheric Pressure (mmHg)</td>
                                <td class="notestyle"><input name="patm" type="text" id="patm" value="760" size="3"></td>
                            </tr>
                            <tr>
                                <td class="notestyle whitestyle">FiO2 (%)</td>
                                <td class="notestyle"><input name="fi" type="text" id="fi" size="3"></td>
                            </tr>
                            <tr>
                                <td class="notestyle whitestyle">&nbsp;</td>
                                <td class="notestyle">
                                    <span class="notestyle whitestyle">
                                        <a href="javascript: gradcalc()" class="whitestyle">Calculate</a>
                                        <label></label>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </form>
    </div>
</div>

