<script src="~/Areas/IPD/JsModule/NursingView/_AttendantRoomBooking.js"></script>
<div class="row">
    <div class="col-md-12" style="margin:2px 0;">
        <div class="row">
            <div class="col-md-6">               
                <div style="display:flex;">
                    <label>Room/Bed : &nbsp;</label>
                    <input type="text" style="width: 20%;" id="txtRoomBedId" disabled class="form-control" placeholder="Room Bed Id" />
                    <input type="text" id="txtRoomBedName" style="width: 45%;" disabled class="form-control" placeholder="Room Bed Name" />
                    <button data-target="#modalBedAvailability" style="height: 26px;" data-toggle="modal" class="btn btn-warning"><i class="fa fa-bed">&nbsp;</i></button>
                </div>
            </div>
            @*<div class="col-md-6">
            <div class="RoomBed"><b>Room Bed Name : </b>
            <span id="txtRoomBedId" style="display:none"></span>
            <span id="txtRoomBedName"></span>
            </div>
        </div>*@
            <div class="col-md-6">
                <div style="display:flex;align-items:center">
                    <label style="width: 28%;">Admission Date & Time : </label>
                    <div style="border-radius:0;border: 1px solid #00a65a;display:flex;align-items:center">
                        <input id="txtAdmissionDate" style="border:none;height:25px" type="date" class="form-control">
                        <input id="txtAdmissionTime" style="border:none;height:25px;border-left:1px solid #ddd" type="time" class="form-control">
                    </div>
                    <button class="btn btn-success" onclick="IPDRoomShift()" style="width: 12%;height:27px;margin:0;border-radius:0;padding: 0 2px;"><i class="fa fa-sign-in">&nbsp;</i>Shift</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="overflow:auto;height:490px">      
        <div class="table-responsive" style="height:470px;overflow-y:auto; overflow-x:auto;border:1px solid #2478a9;width:99%">
            <table id="tblRoomshiftedLog" class="table table-bordered" style="margin-bottom:6px;white-space: nowrap;">
                <thead>
                    <tr>
                        <th style="width:15%;">RoomType</th>
                        <th style="width:15%;">RoomFullName</th>
                        <th style="width:15%;">StayFrom</th>
                        <th style="width:15%;">StayTo</th>
                        <th style="width:15%;">RoomBillingCategory</th>
                        <th style="width:15%">EmployeeName  </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="modalBedAvailability" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="margin-top: 13%;width: 1200px !important;margin-left: -140px;">
            <!-- Modal Header -->
            <div class="modal-header bg-success" style="padding: 4px 10px;background: #dbdbdb;">
                <p class="modal-title">
                    Room Shift
                    <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                </p>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="padding:0">
                <div class="row" style="margin:10px 0">
                    <div class="col-md-12">
                        @Html.Partial("_BedAvailability")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Areas/IPD/JsModule/NursingView/_RoomShifting.js"></script>

