<script src="~/Areas/IPD/JsModule/NursingView/_IPDDeathCertificate.js"></script>

<style>
    .select2-container {
      
        position: relative;
       
    }
    .col-md-3, .col-md-4 {
        padding: 0;
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
        display: block;
        padding-left: 0px;
        padding-right: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .example-box-wrapper {
        margin: 10px 20px;
    }
</style>
<div class="example-box-wrapper">

    <div class="row" style="border:1px solid black;text-align:center; padding:1px; margin-right: 0px; margin-left: 0px;">
        <div class="col-md-12">
            <label style="font-size:15px"><b>Death Certificate Entery </b></label>
        </div>
    </div>
    <div class="row" style="border:1px solid black; padding:15px; margin-right: 0px; margin-left: 0px;margin-top: 1px;">
        <div class="col-md-12">
            <table style="width:100%;font-size:15px">
                <tr>
                    <td style="text-align:left;margin-left:10px;font-weight: bold;"><b>Nature Of Death</b></td>
                    <td style="margin-left:10px;width:20px"><b>:</b></td>
                    <td style="text-align:left;margin-left:10px;padding-bottom: 5px;"><input id="txtNature" style="height:23px;padding:0px;font-size:12px" type="text" class="form-control"></td>
                    <td>&nbsp;</td>
                    <td style="text-align:left;margin-left:10px"><b>Immediate Cause Of Death</b></td>
                    <td style="margin-left:10px;width:20px"><b>:</b></td>
                    <td style="text-align:left;margin-left:10px;padding-bottom: 5px;"><input id="txtImmediate" style="height:23px;padding:0px;font-size:12px" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td style="text-align:left;margin-left:10px"><b>Pronounced Dead At</b></td>
                    <td style="margin-left:10px;width:20px"><b>:</b></td>
                    <td>
                        <input id="txtPronouncedDeadt" style="height:23px;padding:0px;font-size:12px" type="datetime-local" class="form-control">
                    </td>
                    <td>&nbsp;</td>
                    <td style="text-align:left;margin-left:10px"><b>Estimated Time Of Death</b></td>
                    <td style="margin-left:10px;width:20px"><b>:</b></td>
                    <td style="text-align:left;margin-left:10px;padding-bottom: 5px;">
                    <input id="txtEstimatedTime" style="height:23px;padding:0px;font-size:12px" type="datetime-local" class="form-control">
                    </td>
                </tr>

                <tr>
                    <td style="text-align:left;margin-left:10px"><b>Death Certified By</b></td>
                    <td style="margin-left:10px;width:20px"><b>:</b></td>
                    <td style="text-align:left;margin-left:10px;padding-bottom: 5px;font-size:12px"><select id="ddldeathDoctorby" class="form-control"></select></td>
                    <td>&nbsp;</td>
                    <td style="text-align:left;margin-left:10px"><b>Body Hand Overed To</b></td>
                    <td style="margin-left:10px;width:20px"><b>:</b></td>
                    <td style="text-align:left;margin-left:10px;padding-bottom: 5px;font-size:12px"><input id="txtBodyHandOvered" style="height:23px;padding:0px" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td style="text-align:left;margin-left:10px;font-weight: bold;"><b>Suffering From</b></td>
                    <td style="margin-left:10px;width:20px"><b>:</b></td>
                    <td style="text-align:left;margin-left:10px;padding-bottom: 5px;"><input id="txtSufferingFrom" style="height:23px;padding:0px;font-size:12px" type="text" class="form-control"></td>
                    <td>&nbsp;</td>
                    <td style="text-align:left;margin-left:10px"><b>Remarks</b></td>
                    <td style="margin-left:10px;width:20px"><b>:</b></td>
                    <td style="text-align:left;margin-left:10px;padding-bottom: 5px;"><input id="txtremark" style="height:23px;padding:0px;font-size:12px" type="text" class="form-control"></td>
                </tr>


            </table>
        </div>
    </div>

    <div class="row" style="border:1px solid black;text-align:center; padding:1px; margin-right: 0px; margin-left: 0px;margin-top:1px">
        <div class="col-md-12">
            <label id="txtautoid" hidden></label>
            <button class="btn btn-success" style="width: 7%;height:27px;margin:0;border-radius:0;padding: 0 2px;margin-top: 2px; margin-bottom: 2px;" onclick="Insertdata()" id="btnsave"><i class="fa fa-sign-in">&nbsp;</i>Save</button>
            <button class="btn btn-warning" style="width: 7%;height:27px;margin:0;border-radius:0;padding: 0 2px;margin-top: 2px; margin-bottom: 2px; display:none" onclick="Updatedata()" id="btnupdate"><i class="fa fa-sign-in">&nbsp;</i>Update</button>
            <button class="btn btn-success" style="width: 7%;height:27px;margin:0;border-radius:0;padding: 0 2px;margin-left:5px;margin-top: 2px;margin-bottom: 2px" onclick="Printdataa()"><i class="fa fa-print">&nbsp;</i>Print</button>
        </div>
    </div>
</div>
