

@{
    ViewBag.Title = "TestTracking";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/Lab/JsModule/Report/TestTracking.js"></script>
<style>
    .select-row {
        background: #0076d0 !important;
        color: #fff;
    }

    /*.scroll {
        overflow: auto;
        max-height: 500px;
    }*/

    .sampleTaken {
        background: #bcffe0
    }

    .panel-body input, .panel-body select {
        padding: 5px !important;
    }

    div.dataTables_wrapper {
        width: 800px;
        margin: 0 auto;
    }

    #tblTestTrackingReport {
        table-layout: fixed;
        width: 100%;
        *margin-left: -100px; /*ie7*/
    }

        #tblTestTrackingReport td, th {
            /*vertical-align: top;
            border-top: 1px solid #ccc;
            padding: 10px;*/
            font-weight: bold;
            padding: 14px;
            padding-bottom: 14px;
            width: 120px;
            text-align: center;
        }

        #tblTestTrackingReport th {
            width: 120px;
            font-weight: bold;
          
        }

    .hard_left {
        position: absolute;
        *position: relative; /*ie7*/
        left: 0;
        width: 120px;
    }

    .next_left {
        position: absolute;
        *position: relative; /*ie7*/
        left: 120px;
        width: 120px;
    }

    .outer {
        position: relative;
    }

    .inner {
        overflow-x: scroll;
        overflow-y: visible;
        width: 609px;
        margin-left: 719px;
    }
</style>
<div id="page-content">
    <div class="container">
        <div class="ml15">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading" style="background:#2478a9;padding:1px 10px; ">
                            <p class="text-white">Test Tracking Report</p>
                        </div>
                        <div class="panel-body" style="background:#fff;padding:7px">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="fileinput fileinput-new input-group" style="display:flex;align-items: baseline;">
                                        <input type="text" class="form-control" id="txtVisitNo" placeholder="Visit No" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput" style="display:inline-flex;align-items: baseline;">

                                        <button class="btn-success" onclick="VisitNoBySearchdata()" style="width:30%;border:none;height:27px"><i class="fa fa-search">&nbsp;</i>Search</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin:0px; background:#e6f4ff;padding: 5px;margin-bottom: 5px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table style="width:100%">
                                            <tr>
                                                <td style="text-align:left;white-space:pre"><b>Visit No:</b></td>
                                                <td style="text-align:left;"><span id="_txtVisitNo" style="margin-left:50px"></span></td>
                                                <td style="text-align:left;white-space:pre"><b>Patient Name :</b></td>
                                                <td style="text-align:left"><span id="_txtPatientName" style="margin-left:50px"></span></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:left;white-space:pre"><b>Age:</b></td>
                                                <td style="text-align:left"><span id="_txtAge" style="margin-left:50px"></span></td>
                                                <td style="text-align:left;white-space:pre"><b>Gender:</b></td>
                                                <td style="text-align:left"><span id="_txtGender" style="margin-left:50px"></span></td>
                                            </tr>


                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel-heading" style="background:#2478a9;padding:1px 10px;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="text-white">Record Tracking Report</p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="scroll" style="display:block; border:1px solid #2478a9;padding-bottom:7px;">
                                                <div class="table table-responsive">
                                                    <div class="outer">
                                                        <div class="inner">
                                                            <table class="table table-bordered" id="tblTestTrackingReport">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="hard_left">IPOPType</th>
                                                                        <th class="next_left">BarCodeNo</th>
                                                                        <th class="next_left" style="margin-left:120px">RegDate</th>
                                                                        <th class="next_left" style="margin-left:240px">Item_Code</th>
                                                                        <th class="next_left" style="margin-left:360px;">Item_Name</th>
                                                                        <th class="next_left" style="margin-left:480px">Test_Category</th>
                                                                        <th>Samplecode</th>
                                                                        <th>Sample_Collect_Date</th>
                                                                        <th>Sample_Collect_By</th>
                                                                        <th>Sample_Distributed_Date</th>
                                                                        <th>Sample_Distributed_By</th>
                                                                        <th>Dispatch_Date</th>
                                                                        <th>Sample_Dispatch_By</th>
                                                                        <th>Dispatch_Received_Time</th>
                                                                        <th>Dispatch_Received_By</th>
                                                                        <th>Lab_Received_Date</th>
                                                                        <th>Lab_Received_By</th>
                                                                        <th>max_reptime</th>
                                                                        <th>Delivary_Time</th>
                                                                        <th>Approved_Date</th>
                                                                        <th>Approve_By</th>
                                                                        <th>Sample_Required</th>
                                                                        <th>Local_Test</th>
                                                                        <th>Cancelled</th>
                                                                        <th>R_type</th>
                                                                        <th>InOut_Status</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
